<div class="container">
    <div class="row client-photo mb-4">
        <div class="col-lg-6 center-vertical">
            <div class="mx-auto camera text-center">
                <div class="camera-block">
                </div>
                <button mat-raised-button class="button_black mt-3" (click)="genBase64()"> Сделать фото</button>
            </div>
        </div>
        <div class="col-lg-6 photo center-vertical text-center mt-4 mt-lg-0" *ngIf="base64">
            <div>
                <img alt="selfie" class="image_ready" src={{base64}}>
                <button *ngIf="base64" mat-raised-button class="button_black mt-3"  [routerLink]="['/request-docs']"> Готово</button>
            </div>
        </div>
    </div>
</div>
