.client-photo {
    margin-top: 4rem;
    height: 480px;
}

.image_ready {
    max-width: 100%;
}

.camera {
    width: fit-content;
}

.camera-block {
    height: 246px;
}

.photo {
    min-height: 465px;
}