.item {
    padding: 0 0 0 50px;
}

.an_button {
    margin-right: 10px;
}

.main-block {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
