<div class="container-fluid">
    <div class="row">
        <div class="col-5 p-4" style="background-color: #FAFAFA;">
            <div class="row">
                <div class="col-12 pb-2">
                    <div class="d-inline-block">
                        <h1 class="title">Кредитный калькулятор</h1>
                        <span class="caption">Предварительный расчет суммы ежемесячного платежа </span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="w-100">
                                <mat-select placeholder="Выберите продукт">
                                    <mat-option value="12">Беззалоговый</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <input [(ngModel)]="amount" matInput placeholder="Сумма" OnlyNumber="true"
                                       type="number">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <input [(ngModel)]="term" matInput placeholder="Срок" OnlyNumber="true" type="number">
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field>
                                <input matInput [(ngModel)]="orgKom" placeholder="Комиссия за организацию" OnlyNumber="true"
                                       type="number">
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field class="w-100">
                                <input [(ngModel)]="rate" matInput placeholder="Процентная ставка" OnlyNumber="true">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <mat-radio-group>
                            <mat-radio-button class="mb-2" (click)="calc('annuity')" value="1">Аннуитет
                            </mat-radio-button>
                            <br>
                            <mat-radio-button (click)="calc('diff')" value="2">Дифференцированные платежи
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="col-lg-6 mt-4" *ngIf="allAmount">
                    <button class="button_black" mat-raised-button mat-button
                            *ngIf="this.payType === 'annuity'"
                            (click)="calcSchedule(this.payType)">Показать график платежей
                    </button>
                    <button class="button_black" mat-raised-button mat-button
                            *ngIf="this.payType === 'diff'"
                            (click)="calcSchedule(this.payType)">Показать график платежей
                    </button>
                </div>
            </div>
        </div>
        <div class="col-7 pl-4 pt-4">
            <div class="row">
                <div class="col-12 pb-2">
                    <h1 class="title">Информация по займу</h1>
                    <div class="caption">Итоговая сумма: <b>{{allAmount | number }} т</b></div>
                    <div class="caption">Начисленные проценты за весь срок: <b>{{totalOverPayment | number}} т</b></div>
                    <div class="caption">Коммисия за организацию займа: <b>{{totalComissionOrg | number}} т</b></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pr-0">
                    <div class="main-block mb-0">
                        <div>
                            <h1 class="title d-inline-block">График погашения</h1>
                            <button class="button_black-border float-right">Распечатать</button>
                        </div>

                        <cdk-virtual-scroll-viewport itemSize="0" style="height: 505px;" class="mt-4">
                            <table class="w-100 text-center">
                                <tr>
                                    <!--<th>Месяц</th>-->
                                    <!--<th>Дней</th>-->
                                    <th>Остаток долга</th>
                                    <th>Основной долг</th>
                                    <th>Проценты</th>
                                    <th>Платеж</th>
                                </tr>
                                <tr *cdkVirtualFor="let item of pays">
                                    <!--<td>{{item.month}}</td>-->
                                    <!--<td>{{item.days}}</td>-->
                                    <td>{{item.debtBalance}}</td>
                                    <td>{{item.debt}}</td>
                                    <td>{{item.interestPayment}}</td>
                                    <td>{{item.totalPayment}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>{{totalOverPayment}}</th>
                                    <th>{{totalPayment}}</th>
                                </tr>
                            </table>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
