.checkIin {
    max-width: 470px;
}

mat-form-field {
    width: 300px;
}

.iinInfo {
    background: rgba(51, 51, 51, 0.06);
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    b {
        text-transform: uppercase;
    }
}
