<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-12 pb-2">
            <h1 class="title">Создание заявки</h1>
        </div>
        <div class="col-12">
            <div class="main-block">
                <div class="row">
                    <div class="col-12 checkIin">
                        <h2 class="title">Создание заявки</h2>

                        <mat-form-field class="d-inline-block">
                            <input [ngClass]="{'ng-invalid': iinError}" mask="0000 0000 0000" matInput type="text"
                                   placeholder="ИИН" [(ngModel)]="iinInput">
                        </mat-form-field>
                      <mat-form-field class="d-inline-block">
                        <input [ngClass]="{'ng-invalid': phoneError}" prefix="+" mask="0 (000) 000 00 00" matInput type="text"
                               placeholder="Номер" [(ngModel)]="phoneInput" required>
                      </mat-form-field>
                      <mat-form-field class="d-inline-block">
                        <input  [ngClass]="{'ng-invalid': bidError}" matInput type="text"
                               placeholder="Сумма"  mask="comma_separator" [(ngModel)]="bidInput">
                      </mat-form-field>
                        <mat-form-field>
                          <input digitOnly [(ngModel)]="creditTerm" matInput placeholder="Срок в месяцах" maxlength="5" required>
                        </mat-form-field>
                        <mat-form-field>
                          <mat-select [ngModel]="productType" placeholder="Продукт" required (ngModelChange)="productChange($event)">
                            <mat-option *ngFor="let item of productTypeList" [value]="item.id">
                              {{item.description}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                          <mat-select [(ngModel)]="redemptionType" placeholder="Тип погашения" required>
                            <mat-option *ngFor="let item of redemptionList" [value]="item.id">
                              {{item.description}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      <mat-form-field>
                        <mat-select [(ngModel)]="Commission" placeholder="С комиссией" required>
                          <mat-option value="true">
                            Да
                          </mat-option>
                          <mat-option value="false">
                            Нет
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                        <mat-form-field>
                          <input  [(ngModel)]="maturityDate" digitOnly  matInput placeholder="Дата погашения" maxlength="50" required>
                        </mat-form-field>
                      <mat-form-field>
                        <mat-select [(ngModel)]="allert" placeholder="Особые приметы" required>
                          <mat-option  [value]="false">
                            Нет
                          </mat-option>
                          <mat-option  [value]="true">
                            Да
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                        <button (click)="init()" mat-raised-button class="button_black text-uppercase mt-5 px-4">
                            Создать заявку
                        </button>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-10 col-12 mx-auto mt-4rem" *ngIf="!success">
                    </div>
                    <div class="col-lg-4 mx-auto mt-5" *ngIf="success">
                        <div class="content-block text-center">
                            <div class="mb-3">
                                <h5>ИИН успешно прошел проверку</h5>
                                <p class="text-uppercase">{{clientData.fio}}</p>
                                <p>{{clientData.notaryLawyerName}}</p>
                            </div>
                            <div>
                                <div>
                                    <button [routerLink]="['/new-profile']" mat-raised-button
                                            class="button_black text-uppercase">Заполнить анкету
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng4-loading-spinner></ng4-loading-spinner>

