<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 mx-auto mt-4rem">
            <div class="content-block text-center">
                <div>
                    <ngx-qrcode [qrc-element-type]="elementType" [qrc-value] = "value">
                    </ngx-qrcode>
                    <button mat-raised-button class="button_black" [routerLink]="['/request-progress']">Получить документы</button>
                </div>
            </div>
        </div>
    </div>
</div>
