.mat-step-label {
    display: none !important;
    background-color: red;
    height: 250px;
    width: 250px;
}

.mat-horizontal-content-container {
    padding: 0;
}

mat-autocomplete {
    width: 700px !important;
}

mat-form-field {
    width: 100%;
}

.buttons {
    width: 100%;
}
.red{
    color: red !important;
  }
.total-calc {
    background: rgba(51, 51, 51, 0.06);
    border-radius: 4px 4px 0 0;
    padding: 11px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);

    font-size: 12px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.54);

    div {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.87);
    }
}

.doc input {
  margin: 0 auto;
  margin-left: 11px;
  margin-top: 3px;
}

.doc {
    display: inline-block;
    cursor: pointer;
    position: relative;
    border: 1px solid #b0afb0;
    margin-bottom: 20px;
    border-radius: 10px;
  padding: 0px 30px 0 20px;



    .doc__image {
        height: 120px;
        background: #F2F3F5 url("../../../../assets/icon/camera.svg") no-repeat center;
        overflow: hidden;
    }

    .doc__title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px 0px 10px 0;
      text-align: center;
      min-height: 50px;
    }

    & + & {
        margin-left: 16px;
    }
}

.red-cross {
    display: none;
}

.doc__loaded {
    cursor: default;
    .red-cross {
        display: block;
    }
}

.stepper_button {
  margin-right: 10px;
}

.mat-datepicker-content .mat-calendar {
  width: 100%!important;
  height: 100%!important;
}

.button_black {
  margin-right: 10px;
}

