<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-4rem">
      <div class="main-block wideInputs">


        <mat-horizontal-stepper [linear]="isLinear" #stepper labelPosition="bottom">
          <!--Личные данные-->
          <mat-step [stepControl]="secondStep">
            <form [formGroup]="secondStep">
              <div class="row">
                <div class="col-12 pb-2">
                  <h1 class="title">Анкета: Личные данные</h1>
                </div>
                <div class="col-12 col-md-9 col-lg-6">
                  <div class="row">
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="surname" placeholder="Фамилия" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="name" placeholder="Имя" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="patronymic" placeholder="Отчество" maxlengxsth="50">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input mask="00.00.0000" matInput formControlName="userDateOfb" required placeholder="Дата рождения">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="male" required placeholder="Пол">
                          <mat-option *ngFor="let item of genderList" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input formControlName="clientCitizen" matInput placeholder="Гражданство" maxlength="50" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <button mat-button class="button_black px-4" [disabled]="secondStep.invalid" (click)="personUpdate(stepper)">Далее</button>
              </div>
            </form>
          </mat-step>
          <!--Удостоверяющий документ-->
          <mat-step [stepControl]="sevenStep">
            <form [formGroup]="sevenStep">
              <div class="row">
                <div class="col-12 pb-2">
                  <h1 class="title">Анкета: Документ</h1>
                </div>
                <div class="col-12 col-md-9 col-lg-6">
                  <div class="row">
                    <div class="col-12">
                      <mat-form-field>
                        <input formControlName="place_of_birth" matInput placeholder="Место рождения" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="id_card_type" placeholder="Тип документа" required>
                          <mat-option *ngFor="let item of cardTypes" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input formControlName="number" matInput placeholder="Номер документа" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="issuer" placeholder="Кем выдано" required (ngModelChange)="docIssuersOtherSelect($event)">
                          <mat-option *ngFor="let item of docIssuers" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput mask="00.00.0000" formControlName="issue_date" placeholder="Дата выдачи" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput mask="00.00.0000" (ngModelChange)="inputChange()" formControlName="expire_date" placeholder="Срок действия" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 stepper_button">
                <button mat-button matStepperPrevious class="button_black px-4">Назад</button>
                <button mat-button class="button_black px-4" [disabled]="sevenStep.invalid || inputDis" (click)="identityCardUpdate(stepper)">Далее</button>
              </div>
            </form>
          </mat-step>
          <!--Контакты-->
          <mat-step [stepControl]="thirdStep">
            <form [formGroup]="thirdStep">
              <div class="row">
                <div class="col-12 pb-2">
                  <h1 class="title">Анкета: Контактные данные</h1>
                </div>
                <div class="col-12 col-md-9 col-lg-6">
                  <div class="row">
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="additional_number" prefix="+" mask="0 (000) 000 00 00" placeholder="Дополнительный телефон" maxlength="50">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="home_number"  prefix="+"  mask="0 (000) 000 00 00" placeholder="Домашний телефон" maxlength="50">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="email" placeholder="Email" maxlength="50">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 stepper_button">
                <button mat-button matStepperPrevious class="button_black px-4">Назад</button>
                <button mat-button class="button_black px-4" [disabled]="thirdStep.invalid" (click)="contactUpdate(stepper)">Далее</button>
              </div>
            </form>
          </mat-step>
          <!--Контактное лицо-->
          <mat-step [stepControl]="fourStep">
            <form [formGroup]="fourStep">
              <div class="row">
                <div class="col-12 pb-2">
                  <h1 class="title">Анкета: Контактное лицо</h1>
                </div>
                <div class="col-12 col-md-9 col-lg-6">
                  <div class="row">
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="last_name" placeholder="Фамилия" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="first_name" placeholder="Имя" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="patronymic_name" placeholder="Отчество" maxlength="50">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="relation_type" required placeholder="Степень родства" (ngModelChange)="relshipOtherSelect($event.id)">
                          <mat-option *ngFor="let item of relationDegree" [value]="item">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12" *ngIf="relationshipOther">
                      <mat-form-field>
                        <input matInput formControlName="relation_type_other" placeholder="Степень родства" maxlength="50" [required]="relationshipOther">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="mobile_number"  prefix="+" mask="0 (000) 000 00 00" placeholder="Номер телефона" maxlength="50" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 stepper_button">
                <button mat-button matStepperPrevious class="button_black px-4">Назад</button>
                <button mat-button class="button_black px-4" [disabled]="fourStep.invalid" (click)="contactPersonUpdate(stepper)">Далее</button>
              </div>
            </form>
          </mat-step>
          <!--Второе контактное лицо-->
          <mat-step [stepControl]="twelveStep">
            <form [formGroup]="twelveStep">
              <div class="row">
                <div class="col-12 pb-2">
                  <h1 class="title">Анкета: Второе контактное лицо</h1>
                </div>
                <div class="col-12 col-md-9 col-lg-6">
                  <div class="row">
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="last_name" placeholder="Фамилия" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="first_name" placeholder="Имя" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="patronymic_name" placeholder="Отчество" maxlength="50">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="relation_type" required placeholder="Степень родства" (ngModelChange)="secondRelshipOtherSelect($event.id)">
                          <mat-option *ngFor="let item of relationDegree" [value]="item">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12" *ngIf="secondRelationshipOther">
                      <mat-form-field>
                        <input matInput formControlName="relation_type_other" placeholder="Степень родства" maxlength="50" [required]="secondRelationshipOther">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="mobile_number"  prefix="+"  mask="0 (000) 000 00 00" placeholder="Номер телефона" maxlength="50" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 stepper_button">
                <button mat-button matStepperPrevious class="button_black px-4">Назад</button>
                <button mat-button class="button_black px-4" [disabled]="twelveStep.invalid" (click)="contactSecondPersonUpdate(stepper)">Далее</button>
              </div>
            </form>
          </mat-step>
          <!--Работа-->
          <mat-step [stepControl]="fiveStep">
            <form [formGroup]="fiveStep">
              <div class="row">
                <div class="col-12 pb-2">
                  <h1 class="title">Анкета: Место работы</h1>
                </div>
                <div class="col-12 col-md-9 col-lg-6">
                  <div class="row">
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="organization_name" placeholder="Название организации" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="organization_address" placeholder="Адрес" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="current_work_exp" digitOnly placeholder="Опыт работы на данном месте (мес)" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="total_work_exp" digitOnly placeholder="Общий опыт работы (мес)" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="salary" mask="comma_separator" placeholder="Зарплата" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="work_mobile_number" prefix="+"  mask="0 (000) 000 00 00" placeholder="Рабочий номер телефона" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="additionalNumber" placeholder="Добавочный номер" maxlength="50">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select [(ngModel)]="jobCategoty" formControlName="job_category" required placeholder="Род деятельности">
                          <mat-option *ngFor="let item of jobCategoryList" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="position" placeholder="Должность" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select placeholder="Дополнительное место работы" required formControlName="additionalWork" (ngModelChange)="additionalWorkChange($event)">
                          <mat-option value="true">
                            Да
                          </mat-option>
                          <mat-option value="false">
                            Нет
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 stepper_button">
                <button mat-button matStepperPrevious class="button_black px-4">Назад</button>
                <button mat-button class="button_black px-4" [disabled]="fiveStep.invalid" (click)="employmentInformationUpdate(stepper)">Далее</button>
              </div>
            </form>
          </mat-step>
          <!--Доп работа-->
          <mat-step [stepControl]="sixStep" *ngIf="isAdditionalWork">
            <form [formGroup]="sixStep">
              <div class="row">
                <div class="col-12 pb-2">
                  <h1 class="title">Анкета: Дополнительное место работы</h1>
                </div>
                <div class="col-12 col-md-9 col-lg-6">
                  <div class="row">
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="organization_name" placeholder="Название организации" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="organization_address" placeholder="Адрес" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="current_work_exp" digitOnly placeholder="Опыт работы на данном месте (мес)" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="total_work_exp" digitOnly placeholder="Общий опыт работы(мес)" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="salary" mask="separator" placeholder="Зарплата" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="work_mobile_number" prefix="+"  mask="0 (000) 000 00 00" placeholder="Рабочий номер телефона" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="additionalNumber" placeholder="Добавочный номер" maxlength="50">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select [(ngModel)]="jobCategoty" formControlName="job_category" placeholder="Род деятельности" required>
                          <mat-option *ngFor="let item of jobCategoryList" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="position" placeholder="Должность" maxlength="50" required>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 stepper_button">
                <button mat-button matStepperPrevious class="button_black px-4">Назад</button>
                <button mat-button class="button_black px-4" [disabled]="sixStep.invalid" (click)="additionalEmploymentInformationUpdate(stepper)">Далее</button>
              </div>
            </form>
          </mat-step>
          <!--Дополнительная инфаормация-->
          <mat-step [stepControl]="eightStep">
            <form [formGroup]="eightStep">
              <div class="row">
                <div class="col-12 pb-2">
                  <h1 class="title">Анкета: Дополнительная информация</h1>
                </div>
                <div class="col-12 col-md-9 col-lg-6">
                  <div class="row">
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="loan_purpose" [(ngModel)]="creditGoal" placeholder="Цель кредита" required>
                          <mat-option *ngFor="let item of creditGoalList" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12" *ngIf="purposeOther">
                      <mat-form-field>
                        <input matInput formControlName="loan_purpose_other" placeholder="Цель кредита" maxlength="50" [required]="purposeOther">
                      </mat-form-field>

                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="channel" placeholder="Канал привлечения" (selectionChange)="channelOtherSelect($event.value)" required>
                          <mat-option *ngFor="let item of channelsList" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12" *ngIf="channelOther">
                      <mat-form-field>
                        <input matInput formControlName="channel_other" placeholder="Канал привлечения" maxlength="50" [required]="channel_other">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="children_15" digitOnly placeholder="Количество детей до 18 лет" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="children_15_21" digitOnly placeholder="Количество детей от 18 до 21 года" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="additional_income" mask="comma_separator" placeholder="Дополнительные доходы" maxlength="50">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="expenses" mask="comma_separator" placeholder="Расходы" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="is_car_owner" placeholder="Наличие авто" required>
                          <mat-option [value]="true">
                            Да
                          </mat-option>
                          <mat-option [value]="false">
                            Нет
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select [(ngModel)]="education" required formControlName="education" placeholder="Образование">
                          <mat-option *ngFor="let item of educationList" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="family_status" required placeholder="Cемейное положение" (ngModelChange)="marialCheck($event)">
                          <mat-option *ngFor="let item of marialStatusList" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="gcvp_type" placeholder="Гцвп" (ngModelChange)="gcvpChange($event)" required>
                          <mat-option [value]="false">
                            Да
                          </mat-option>
                          <mat-option [value]="true">
                            Нет
                          </mat-option>

                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12" *ngIf="gcvpType">
                      <mat-form-field>
                        <mat-select [required]="gcvp_category" formControlName="gcvp_category" placeholder="Категории лиц без ГЦВП">
                          <mat-option *ngFor="let item of gcpvList" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="pkb_debt" placeholder="Справка об отсутсвии задолжности" (ngModelChange)="pkbChange($event)" required>
                          <mat-option [value]="false">
                            Нет
                          </mat-option>
                          <mat-option [value]="true">
                            Да
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-12 stepper_button">
                <button mat-button matStepperPrevious class="button_black px-4">Назад</button>
                <button mat-button class="button_black px-4" [disabled]="eightStep.invalid" (click)="metaInformationUpdate(stepper)">Далее</button>
              </div>
            </form>
          </mat-step>
          <!--Данные о супруге-->
          <mat-step *ngIf="isMarial" [stepControl]="nineStep">
            <form [formGroup]="nineStep">
              <div class="row">
                <div class="col-12 pb-2">
                  <h1 class="title">Анкета: Данные о супруге</h1>
                </div>
                <div class="col-12 col-md-9 col-lg-6">
                  <div class="row">
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="first_name" placeholder="Фамилия" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="last_name" placeholder="Имя" maxlength="50" required>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput formControlName="patronymic_name" placeholder="Отчество" maxlength="50">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="is_employed" [(ngModel)]="selected" placeholder="Занятость супруга" (ngModelChange)="spouseWorkCheck($event)" required>
                          <mat-option value = 'true'>
                            Да
                          </mat-option>
                          <mat-option value = 'false'>
                            Нет
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12" *ngIf="isSpouseWork">
                      <mat-form-field>
                        <input matInput formControlName="organization_name" placeholder="Место работы" maxlength="50" [required]="isSpouseWork">
                      </mat-form-field>
                    </div>
                    <div class="col-12" *ngIf="isSpouseWork">
                      <mat-form-field>
                        <input matInput formControlName="organization_address" placeholder="Рабочий Адрес" maxlength="50"  [required]="isSpouseWork">
                      </mat-form-field>
                    </div>
                    <div class="col-12" *ngIf="isSpouseWork">
                      <mat-form-field>
                        <input matInput formControlName="position" placeholder="Позиция" maxlength="50"  [required]="isSpouseWork">
                      </mat-form-field>
                    </div>
                    <div class="col-12" *ngIf="isSpouseWork">
                      <mat-form-field>
                        <input matInput formControlName="work_mobile_number"  prefix="+" mask="0 (000) 000 00 00" placeholder="Рабочий телефон" maxlength="50"  [required]="isSpouseWork">
                      </mat-form-field>
                    </div>
                    <div class="col-12" *ngIf="isSpouseWork">
                      <mat-form-field>
                        <input matInput mask="comma_separator" formControlName="salary" placeholder="Ежемесячный доход" maxlength="50"  [required]="isSpouseWork">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 stepper_button">
                <button mat-button matStepperPrevious class="button_black px-4">Назад</button>
                <button mat-button class="button_black px-4" [disabled]="nineStep.invalid" (click)="spouseUpdate(stepper)">Далее</button>
              </div>
            </form>
          </mat-step>
          <!--Адрес регистрации-->
          <mat-step [stepControl]="tenStep">
            <form [formGroup]="tenStep">
              <div class="row">
                <div class="col-12 pb-2">
                  <h1 class="title">Анкета: Адрес регистрации</h1>
                </div>
                <div class="col-12 col-md-9 col-lg-6">
                  <div class="row">
                    <div class="col-12">
                      <!--                                            <mat-form-field>-->
                      <!--                                                <input matInput-->
                      <!--                                                       placeholder="Индекс"-->
                      <!--                                                       maxlength="50"-->
                      <!--                                                       formControlName="indexReg">-->
                      <!--                                            </mat-form-field>-->
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="countryReg" (ngModelChange)="getRegionList($event)" placeholder="Страна" required>
                          <mat-option *ngFor="let item of countryList" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="regionReg" (ngModelChange)="getAreaList($event)" placeholder="Регион" required>
                          <mat-option *ngFor="let item of regionList" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="areaReg" placeholder="Район" (ngModelChange)="getLocationList($event)" required>
                          <mat-option *ngFor="let item of areaList" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12" *ngIf="cityListStatus">
                      <mat-form-field>
                        <mat-select formControlName="cityReg" placeholder="Город/Населенный пункт">
                          <mat-option *ngFor="let item of cityList" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput placeholder="Улица/Микрорайон" maxlength="50" required formControlName="streetReg">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput placeholder="Дом" maxlength="50" required formControlName="homeReg">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput placeholder="Квартира (Если есть)" maxlength="50" formControlName="apartmentReg">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput placeholder="Индекс" maxlength="50" formControlName="index">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="affiliationReg" placeholder="Принадлежность квартиры" required>
                          <mat-option *ngFor="let item of ownershipList" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-checkbox [ngModel]="checkboxFlag" (ngModelChange)="checkboxChange($event)" formControlName="check">Адрес регистрации совпадает с местом жительства
                      </mat-checkbox>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 stepper_button">
                <button mat-button matStepperPrevious class="button_black px-4">Назад</button>
                <button mat-button class="button_black px-4" [disabled]="tenStep.invalid" (click)="registrationAddressUpdate(stepper)">Далее</button>
              </div>
            </form>
          </mat-step>
          <!--Адрес проживания-->
          <mat-step [stepControl]="elevenStep">
            <form [formGroup]="elevenStep">
              <div class="row">
                <div class="col-12 pb-2">
                  <h1 class="title">Анкета: Адрес проживания</h1>
                </div>
                <div class="col-12 col-md-9 col-lg-6">
                  <div class="row">
                    <div class="col-12">
                      <!--3-->
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="countryLive" (ngModelChange)="getLiveRegionList($event)" placeholder="Страна" required>
                          <mat-option *ngFor="let item of countryLiveList" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="regionLive" (ngModelChange)="getLiveAreaList($event)" placeholder="Регион" required>
                          <mat-option *ngFor="let item of regionLiveList" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="areaLive" placeholder="Район" (ngModelChange)="getLocationListLive($event)" required>
                          <mat-option *ngFor="let item of areaLiveList" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12" *ngIf="cityLiveListStatus">
                      <mat-form-field>
                        <mat-select formControlName="cityLive" placeholder="Город/Населенный пункт">
                          <mat-option *ngFor="let item of cityListLive" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput placeholder="Улица/Микрорайон" maxlength="50" required formControlName="streetLive">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput placeholder="Дом" maxlength="50" required formControlName="homeLive">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput placeholder="Квартира (Если есть)" maxlength="50" formControlName="apartmentLive">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <input matInput placeholder="Индекс" maxlength="50" formControlName="index">
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-form-field>
                        <mat-select formControlName="affiliationLive" placeholder="Принадлежность квартиры" required>
                          <mat-option *ngFor="let item of ownershipList" [value]="item.id">
                            {{item.description}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 stepper_button">
                <button mat-button matStepperPrevious class="button_black px-4">Назад</button>
                <button mat-button class="button_black px-4" [disabled]="elevenStep.invalid" (click)="residentalAddressUpdate(stepper)">Далее</button>
              </div>
            </form>
          </mat-step>
          <!--Смс подтверждение-->
          <!--                    <mat-step [stepControl]="smsStep">-->
          <!--                        <form [formGroup]="smsStep">-->
          <!--                            <div class="row">-->
          <!--                                <div class="col-12 col-md-9 col-lg-6">-->
          <!--                                    <div class="row" *ngIf="!smsSent">-->
          <!--                                        <div class="col-12 pb-2">-->
          <!--                                            <h1 class="title">Проверка телефона</h1>-->
          <!--                                        </div>-->

          <!--                                        <div class="col-12">-->
          <!--                                            <mat-form-field>-->
          <!--                                                <input matInput-->
          <!--                                                       placeholder="Номер телефона клиента для верификации"-->
          <!--                                                       maxlength="50"-->
          <!--                                                       required-->
          <!--                                                       prefix="+7 " mask="(000) 000 00 00">-->
          <!--                                            </mat-form-field>-->
          <!--                                        </div>-->
          <!--                                        <div class="col-12">-->
          <!--                                            <button mat-button (click)="sendSms()" class="button_black px-4">Отправить-->
          <!--                                                смс-код-->
          <!--                                            </button>-->
          <!--                                        </div>-->
          <!--                                    </div>-->

          <!--                                    <div class="row" *ngIf="smsSent">-->
          <!--                                        <div class="col-12 pb-2">-->
          <!--                                            <h1 class="title">СМС-код</h1>-->
          <!--                                            <span>Вы сможете переслать код через 00:09</span>-->
          <!--                                        </div>-->

          <!--                                        <div class="col-12">-->
          <!--                                            <mat-form-field>-->
          <!--                                                <input matInput-->
          <!--                                                       placeholder="Введите смс-код"-->
          <!--                                                       maxlength="50"-->
          <!--                                                       required>-->
          <!--                                            </mat-form-field>-->
          <!--                                        </div>-->
          <!--                                        <div class="col-12">-->
          <!--                                            <button mat-button (click)="smsBack()"-->
          <!--                                                    class="button_black-border px-4 mr-4">Изменить номер-->
          <!--                                            </button>-->
          <!--                                            <button mat-button class="button_black px-4" (click)="getDocsList()" >Далее</button>-->
          <!--                                        </div>-->
          <!--                                    </div>-->
          <!--                                </div>-->
          <!--                            </div>-->
          <!--                            <div class="col-12 stepper_button">-->
          <!--                                <button style="margin: 20px 0 0 -15px;" mat-button matStepperPrevious class="button_black px-4" >Назад</button>-->
          <!--                            </div>-->
          <!--                        </form>-->
          <!--                    </mat-step>-->
          <!--Загрузка доков-->
          <mat-step [stepControl]="docStep">
            <form [formGroup]="docStep">
              <div class="row">
                <div class="col-8">
                  <div class="row">
                    <div class="col-12 pb-2">
                      <h1 class="title">Документы</h1>
                      <span class="caption">Документы должны быть четкого качества, не размытыми и читабельными</span>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-6" *ngFor="let item of docList">
                          <div class="doc">
                            <form [formGroup]="uploadForm">
                              <span class="red-cross"></span>
                              <div class="doc__title">{{item.description}}</div>
                              <div class="form-group">
                                <input #inputFile type="file" name="image" accept="image/jpeg,image/gif,image/png,application/pdf" (change)="fileEvent($event,item.description, item.id)" formControlName="media" required/>
                              </div>
                              <div class="form-group">

                                <span style="border: none;margin: 10px 0 20px 10px;" class="button_black-border" (click)="openPhotoDialog(item.doc_type, item.description, item.id)">Сделать фотографию</span>
                              </div>
                              <input style="border: none;margin: 0px 0 20px 10px;" id="{{item.id}}">
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-4">
                      <button mat-button [disabled]="docStep.invalid" class="button_black px-4" (click)="sentDocs(stepper)">Далее</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>
