.request-list {
  .status {
    padding: 5px 15px;
    text-align: center;
    display: block;
    color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 213px;
  }


  .status_zero {
    .status {
      background: #a09898;
    }
  }

  .status_one {
    .status {
      background: #27AE60;
    }
  }

  .status_two {
    .status {
      background: #a09898;
    }
  }

  .status_three {
    .status {
      background: #a09898;
    }
  }

  .status_four {
    .status {
      background: #a09898;
    }
  }

  .status_five {
    .status {
      background: #a09898;
    }
  }

  .status_six {
    .status {
      background: #a09898;
    }
  }

  .status_seven {
    .status {
      background: #a09898;
    }
  }

  .status_eighnt {
    .status {
      background: #a09898;
    }
  }

  .status_nine {
    .status {
      background: #a09898;
    }
  }

  .status_ten {
    .status {
      background: #a09898;
    }
  }

  .status_eleven {
    .status {
      background: #a09898;
    }
  }

  .status_two_hundred {
    background: #FFF2F2;
    .status {
      background: #a09898;
    }
  }

  .status_five_hundred {
    background: #FFF2F2;
    .status {
      background: rgb(85, 12, 12);
    }
  }

  .status_five_hundred_one {
    background: #FFF2F2;
    .status {
      background: #E82D2D;
    }
  }

  .status_five_hundred_four {
    background: #FFF2F2;
    .status {
      background: #E82D2D;
    }
  }

  .status_five_hundred_two {
    background: #FFF2F2;
    .status {
      background: #db7093;
    }
  }

  .status_five_hundred_three {
    background: #FFF2F2;
    .status {
      background: #E82D2D;
    }
  }

}

.show_all {
  color: #282f3f;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.request {
  border-bottom: 1px rgba(0, 0, 0, 0.4117647058823529) solid;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.item p {
  margin-bottom: 2px;
  font-weight: lighter;
}

.item span {
  width: 5px;
  height: 100%;
  content: "";
  position: absolute;
  margin: 0 0 0 -10px;
}

.item button {
  margin-top: 10px;

}

.inwork {
  background: #c2d468;
}

.closerequest {
  background: #ea6150;
}

.important_info {
  font-weight: bold !important;
}

