<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-8 mx-auto mt-4rem">
      <div class="content-block text-center">
        <div>
          <mat-form-field>
            <input matInput placeholder="Введите телефон" prefix="+7 " mask="(000) 000 00 00" [(ngModel)]="phone" [disabled]="disablePhone">
          </mat-form-field>
        </div>
        <div *ngIf="disablePhone">
          <mat-form-field>
            <input matInput placeholder="Введите код" mask="0 0 0 0" [(ngModel)]="otp" [disabled]="disableOtp">
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button class="button_black" (click)="otpSent('phone')" *ngIf="!disablePhone">Отправить код</button>
          <button mat-raised-button class="button_black" [routerLink]="['/client-photo']"  *ngIf="disablePhone" [disabled]="disableOtp">Проверить</button>
        </div>
      </div>
    </div>
  </div>
</div>
