<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 mx-auto mt-4rem">
            <div class="content-block text-center">
                <div class="mb-3">
                    <img alt="rbk-logo" class="rbk-logo" src="./assets/img/login_page/logorbk.svg">
                </div>
                <div>
                    <mat-form-field>
                        <input matInput type="password" placeholder="Новый пароль" [(ngModel)]="password" [disabled]="disablePass">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput type="password" placeholder="Еще раз" [(ngModel)]="rePassword" [disabled]="disablePass">
                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button class="button_black" (click)="checkPassword()" [disabled]="disablePass">Войти</button>
                </div>
            </div>
        </div>
    </div>
</div>
