<div class="container-fluid pt-5 pl-4">
    <div class="row">
        <div class="col-12 pb-2">
            <div class="d-inline-block">
                <h1 class="title">Оповещения</h1>
            </div>
        </div>
        <div class="col-12">
            <div class="main-block">
                <div class="row">
                    <div class="col-3">
                        <mat-form-field>
                            <mat-select placeholder="От кого">
                                <mat-option>Test</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="01 Марта - 01 Апреля">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <mat-select placeholder="Тема оповещаний">
                                <mat-option>Test</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field>
                            <mat-select placeholder="Тип продукта">
                                <mat-option>Test</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <table class="w-100">
                        <tr>
                            <th>ФИО</th>
                            <th>Текст сообщения</th>
                            <th>Продукт</th>
                            <th>Дата</th>
                        </tr>
                        <tr>
                            <td>Третьяков Роман Сергеевич</td>
                            <td>Закрыта заявка на сумму 2 500 000,00 т</td>
                            <td>Беззалоговый кредит на 830 000 т, сроком на 51 месяц</td>
                            <td>26.03.2018 17:45</td>
                        </tr>
                        <tr>
                            <td>Третьяков Роман Сергеевич</td>
                            <td>Закрыта заявка на сумму 2 500 000,00 т</td>
                            <td>Беззалоговый кредит на 830 000 т, сроком на 51 месяц</td>
                            <td>26.03.2018 17:45</td>
                        </tr>
                        <tr>
                            <td>Третьяков Роман Сергеевич</td>
                            <td>Закрыта заявка на сумму 2 500 000,00 т</td>
                            <td>Беззалоговый кредит на 830 000 т, сроком на 51 месяц</td>
                            <td>26.03.2018 17:45</td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-12 mt-4">
                        <div class="float-right pagination">
                            <span class="mr-2">Items per page:</span>
                            <mat-form-field style="width: 50px;" class="mr-4">
                                <mat-select placeholder="">
                                    <mat-option value="20">20</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span>1 - 10 of 100</span>
                            <span class="arrow-left mx-4"></span>
                            <span class="arrow-right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
