.pagination {
    font-size: 14px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.54);

    display: flex;
    align-items: center;
}

.arrow-left {
    background: url("../../../../assets/icon/arrow-left.svg") no-repeat;
}

.arrow-right {
    background: url("../../../../assets/icon/arrow-right.svg") no-repeat;
}

.arrow-left, .arrow-right {
    cursor: pointer;
    height: 12px;
    width: 8px;
}
