<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="background-color: #FAFAFA;">
      <div class="row">
        <div class="col-12">
          <div class="d-inline-block">
            <h1 class="title">Форма обратной сязи</h1>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <mat-form-field>
                <input [(ngModel)]="title" matInput placeholder="Заголовок" type="text">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input [(ngModel)]="description" matInput placeholder="Описание" type="text">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="main-block">
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 pb-2">
                      <h1 class="title">Загрузить скриншот</h1>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-3">
                          <div class="doc" style="border: none;">
                            <span class="red-cross"></span>
                            <input type="file" required name="image" (change)="fileEvent($event)"  />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mt-4">
          <button (click)="uploadRandom()"  style="margin: -50px 0px 20px 0px;" class="button_black" mat-raised-button mat-button>Отправить
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
