<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 mx-auto mt-4rem">
            <div class="content-block text-center">
                <div>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
                <div class="mt-4">
                    <p>Заявка обрабатывается,пожалуйста подождите...</p>
                </div>
            </div>
        </div>
    </div>
</div>
