<mat-dialog-content>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-4">
                Назначено: <span class="font-weight-bold">Имя Фамилия</span>
            </div>
            <div class="col-3">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Дмитрий</mat-card-title>
                        <mat-card-subtitle>Валицкий</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Назначить</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-3">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Дмитрий</mat-card-title>
                        <mat-card-subtitle>Валицкий</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Назначить</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-3">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Дмитрий</mat-card-title>
                        <mat-card-subtitle>Валицкий</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Назначить</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-3">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Дмитрий</mat-card-title>
                        <mat-card-subtitle>Валицкий</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Назначить</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-3">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Дмитрий</mat-card-title>
                        <mat-card-subtitle>Валицкий</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Назначить</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-3">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Дмитрий</mat-card-title>
                        <mat-card-subtitle>Валицкий</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Назначить</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-3">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Дмитрий</mat-card-title>
                        <mat-card-subtitle>Валицкий</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Назначить</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-3">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>Дмитрий</mat-card-title>
                        <mat-card-subtitle>Валицкий</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat->Назначить</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</mat-dialog-content>
