<mat-dialog-content class="mat-typography">
  <iframe id="gcvpFrame"  [src]="gcvpUrl" width="1200px" height="700px">
    Ваш браузер не поддерживает плавающие фреймы!
  </iframe>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Закрыть</button>
  <button mat-button (click)="print()" *ngIf="data.pkb">Печать</button>
</mat-dialog-actions>

