<div class="container-fluid pt-5 pl-4">
    <div class="row">
        <div class="col-12 pb-2">
            <div class="d-inline-block" *ngIf="done">
                <h2 class="title">Заявка {{request.readable_id}} - {{request.person.first_name}} {{request.person.last_name}} - {{request.status.description}}</h2>
                <p>Менеджер: {{request.user.first_name}} {{request.user.last_name}}</p>
                <p>Создано: {{request.created | date: 'dd.MM.yyyy, hh:mm'}}</p>
                <p>Последние изменения: {{request.modified | date: 'dd.MM.yyyy, hh:mm'}}</p>
                <div *ngIf="dispalyOffers !== true">
                  <p *ngIf="request.rejection_reason !== null">Причина отказа: {{rejectArr}}</p>
                </div>

            </div>
            <div class="d-inline-block float-right">
                <button class="button_gold" (click)="changeManager()">Переназначить</button>
            </div>
        </div>
        <div style=" display: flex; flex-flow: row wrap;margin: 20px 0 20px 0px;"  class="col-12" *ngIf="firstDocs">
        <div style="width: 100%;">
          <h6>Необходимо загрузить документы</h6>
        </div>
        <mat-card class="example-card" *ngFor="let item of firstDocsList">
          <mat-card-header>
            <mat-card-subtitle style="margin-left: -15px;">{{item.description}}</mat-card-subtitle>
          </mat-card-header>
          <form>
            <mat-card-content>
                <span class="red-cross"></span>
                <input type="file" required name="image" (change)="fileEventNew($event, item.description, item.id)" />
                <div class="form-group">
                </div>
                <input style="border: none;margin: 0px 0 20px 10px;" id="{{item.id}}">
            </mat-card-content>
          </form>
        </mat-card>
          <div style="width: 100%; margin-top: 10px;">
            <button mat-button class="button_black px-4" (click)="checkServiceStatus()">Далее</button>
          </div>
      </div>
        <div style=" display: flex; flex-flow: row wrap;margin: 20px 0 20px 0px;"  class="col-12" *ngIf="displayDocs">
        <div style="width: 100%;">
          <h6>Необходимо загрузить документы</h6>
        </div>
        <mat-card class="example-card" *ngFor="let item of signedDocs">
          <mat-card-header>
            <mat-card-subtitle style="margin-left: -15px;">{{item.description}}</mat-card-subtitle>
          </mat-card-header>
          <form (ngSubmit)="uploadData(item.description, item.id)">
            <mat-card-content>
              <input type="file" name="image" (change)="fileEvent($event)" />
              <div class="form-group">
              </div>
              <input style="border: none;margin: 0px 0 20px 10px;" id="{{item.id}}">
            </mat-card-content>
            <mat-card-actions>
              <button mat-button> Загрузить </button>
            </mat-card-actions>
          </form>
        </mat-card>
        <div style="width: 100%; margin-top: 10px;">
          <button mat-button class="button_black px-4" (click)="checkServiceStatus()">Далее</button>
        </div>
      </div>
        <br>
        <div class="col-12" *ngIf="done">
            <div class="main-block">
                <div class="row">
                    <div class="col-12 steps">
                        <div class="step" *ngFor="let item of history;">
                            <div class="step__number">{{item.status?.id}}</div>
                            <div class="step__status">
                                <p style=" white-space: normal; max-width: 90px; overflow: hidden; text-align: center; ">{{item.status?.description}}</p>
                            </div>
                            <!--<div class="step__comment">{{item.history_user.user_id}}</div>-->
                            <div class="step__comment">{{item.history_date | date: 'dd.MM.yyyy, hh:mm'}}</div>
                        </div>
                    </div>

                  <div class="col-6" style=" margin-top: 30px; ">
                    <h5>Анкетные данные</h5>
                    <mat-accordion>
<!--                      Условия займа-->
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Запрашиваемые условия займа
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="request-info">
                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Продукт кредитования</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.product_type?.description}}</span>
                            </div>
                          </div>
                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Сумма займа</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.loan_amount}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Срок займа (в месяцах)</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.term}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Целевое назначение</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.meta_information.loan_purpose}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Планируемая дата (число) погашения</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.planned_payment_date}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Особые приметы</span>
                            </div>
                            <div class="request-info__second">
                              <span *ngIf="request.is_visual_check_failed === false">Нет</span>
                              <span *ngIf="request.is_visual_check_failed === true">Есть</span>
                            </div>
                          </div>
                        </div>
                      </mat-expansion-panel>
<!--                      Личные данные-->
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Личные данные
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="request-info">
                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Фамилия</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.person.last_name}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Имя</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.person.first_name}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Отчество (при наличии)</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.person.patronymic_name}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Дата рождения</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.person.birth_date}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Пол</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.person.gender?.description}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Гражданство</span>
                            </div>
                            <div class="request-info__second">
                                            <span>
                                        {{request.person.citizenship}}
                                    </span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Образование</span>
                            </div>
                            <div class="request-info__second">
                                            <span>
                                        {{request.meta_information.education?.description}}
                                    </span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>№ документа, удостоверяющего личность</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.identity_card.number}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Кем выдано</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.identity_card.issuer?.description}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Дата выдачи</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.identity_card.issue_date}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Срок действия</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.identity_card.expire_date}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>ИИН</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.iin}}</span>
                            </div>
                          </div>

                          <div *ngIf="request.meta_information.is_car_owner == false" class="request-info__row">
                            <div class="request-info__title">
                              <span>Наличие авто</span>
                            </div>
                            <div class="request-info__second">
                              <span>Нет</span>
                            </div>
                          </div>
                          <div *ngIf="request.meta_information.is_car_owner == true" class="request-info__row">
                            <div class="request-info__title">
                              <span>Наличие авто</span>
                            </div>
                            <div class="request-info__second">
                              <span>Есть</span>
                            </div>
                          </div>
                          <div *ngIf="request.meta_information.has_pkb_debt == false" class="request-info__row">
                            <div class="request-info__title">
                              <span>Справка об отсутсвии задолжности</span>
                            </div>
                            <div class="request-info__second">
                              <span>Нет</span>
                            </div>
                          </div>
                          <div *ngIf="request.meta_information.has_pkb_debt == true" class="request-info__row">
                            <div class="request-info__title">
                              <span>Справка об отсутсвии задолжности</span>
                            </div>
                            <div class="request-info__second">
                              <span>Есть</span>
                            </div>
                          </div>
                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Категория клиента</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.client_category}}</span>
                            </div>
                          </div>
                          <div *ngIf="request.meta_information.has_not_gcvp === true" class="request-info__row">
                            <div class="request-info__title">
                              <span>Категория ГЦВП</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.meta_information.gcvp_category.description}}</span>
                            </div>
                          </div>
                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Средняя зарплата (ГЦВП)</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.gcvp_salary | number}}</span>
                            </div>
                          </div>
                        </div>
                      </mat-expansion-panel>
<!--                      Адерс проживания / регистрации-->
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Адрес проживания / регистрации
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <h1 class="title">Адрес по месту регистрации (прописка)</h1>
                        <div class="request-info">
                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Индекс</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.registration_adress.index}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Область</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.registration_adress.region?.description}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Город</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.registration_adress.region?.description}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Улица/микрорайон</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.registration_adress.street}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Номер дома</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.registration_adress.house}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Номер квартиры</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.registration_adress.apartment}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Принадлежность жилья</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.registration_adress.ownership?.description}}</span>
                            </div>
                          </div>
                        </div>
                        <h1 class="title">Адрес фактического проживания</h1>
                        <div class="request-info">
                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Индекс</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.residental_adress.index}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Область</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.residental_adress.region?.description}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Город</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.residental_adress.region?.description}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Улица/микрорайон</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.residental_adress.street}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Номер дома</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.residental_adress.house}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Номер квартиры</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.residental_adress.apartment}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Принадлежность жилья</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.residental_adress.ownership?.description}}</span>
                            </div>
                          </div>
                        </div>
                      </mat-expansion-panel>
<!--                      Контактные данные -->
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Контактные данные
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="request-info">
                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Домашний телефон</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.contact_info.home_number}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Рабочий телефон</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.employment_information.work_mobile_number}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>ФИО родственника/иного лица, не проживающего с Вами №1</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.contact_info.contact_persons[0]?.first_name}} {{request.contact_info.contact_persons[0]?.last_name}} {{request.contact_info.contact_persons[0]?.patronymic_name}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Телефон родственника/иного лица, не проживающего с Вами №1</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.contact_info.contact_persons[0]?.mobile_number}}</span>
                            </div>
                          </div>
                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Степень родства</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.contact_info.contact_persons[0]?.relation_type}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>ФИО родственника/иного лица, не проживающего с Вами №2</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.contact_info.contact_persons[1]?.first_name}} {{request.contact_info.contact_persons[1]?.last_name}} {{request.contact_info.contact_persons[1]?.patronymic_name}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Телефон родственника/иного лица, не проживающего с Вами №2</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.contact_info.contact_persons[1]?.mobile_number}}</span>
                            </div>
                          </div>
                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Степень родства</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.contact_info.contact_persons[1]?.relation_type}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Мобильный телефон 1</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.mobile_number}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Мобильный телефон 2</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.contact_info.additional_number}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>E-mail</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.contact_info.email}}</span>
                            </div>
                          </div>
                        </div>
                      </mat-expansion-panel>
<!--                      Информация о занятости-->
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Информация о занятости основной / дополнительной
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="request-info">
                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Наименование организации</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.employment_information.organization_name}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Адрес организации</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.employment_information.organization_address}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Общий стаж работы (мес)</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.employment_information.total_work_exp}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Стаж на текущем месте работы (мес)</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.employment_information.current_work_exp}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Наименование должности</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.employment_information.position}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="request-info" *ngIf="request.additional_employment.organization_name != ''">
                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Наименование организации</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.additional_employment.organization_name}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Адрес организации</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.additional_employment.organization_address}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Общий стаж работы (мес)</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.additional_employment.total_work_exp}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Стаж на текущем месте работы</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.additional_employment.current_work_exp}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Категория должности</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.additional_employment.job_category.description}}</span>
                            </div>
                          </div>

                        </div>
                      </mat-expansion-panel>
<!--                      Семейное положение-->
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Семейное положение
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="request-info">
                          <div class="request-info__row">

                            <div class="request-info__title">
                              <span>Семейное положение</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.meta_information.family_status?.description}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Количество детей до 18 лет</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.meta_information.children_15}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Количество детей от 18 до 21 года</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.meta_information.children_15_21}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Общее число детей</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.meta_information.children_15 + request.meta_information.children_15_21}}</span>
                            </div>
                          </div>

                        </div>
                      </mat-expansion-panel>
<!--                      Данные о супруге-->
                      <mat-expansion-panel *ngIf="request.spouse.first_name !=''">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Данные о супруге
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="request-info">
                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Фамилия</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.spouse.last_name}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Имя</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.spouse.first_name}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Отчество</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.spouse.patronymic_name}}</span>
                            </div>
                          </div>
                          <div *ngIf="request.spouse.is_employed == true">
                            <div class="request-info__row">
                              <div class="request-info__title">
                                <span>Занятость супруга (-и)</span>
                              </div>
                              <div class="request-info__second">
                                <span></span>
                              </div>
                            </div>

                            <div class="request-info__row">
                              <div class="request-info__title">
                                <span>Место работы</span>
                              </div>
                              <div class="request-info__second">
                                <span>{{request.spouse.organization_name}}</span>
                              </div>
                            </div>

                            <div class="request-info__row">
                              <div class="request-info__title">
                                <span>Должность</span>
                              </div>
                              <div class="request-info__second">
                                <span>{{request.spouse.position}}</span>
                              </div>
                            </div>

                            <div class="request-info__row">
                              <div class="request-info__title">
                                <span>Рабочий телефон</span>
                              </div>
                              <div class="request-info__second">
                                <span>{{request.spouse.work_mobile_number}}</span>
                              </div>
                            </div>

                            <div class="request-info__row">
                              <div class="request-info__title">
                                <span>Среднемесячный чистый доход</span>
                              </div>
                              <div class="request-info__second">
                                <span>{{request.spouse.salary}}</span>
                              </div>
                            </div>
                          </div>


                        </div>
                      </mat-expansion-panel>
<!--                      Доходы и расходы-->
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Дополнительные доходы и расходы
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="request-info">
                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Доход по основному месту работы</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.employment_information.salary}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Доходы по доп. месту работы</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.additional_employment.salary}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Прочие доходы в месяц</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.meta_information.additional_income}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Итого доходы:</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{total_num}}</span>
                            </div>
                          </div>

                          <div class="request-info__row">
                            <div class="request-info__title">
                              <span>Итого расходы:</span>
                            </div>
                            <div class="request-info__second">
                              <span>{{request.meta_information.expenses}}</span>
                            </div>
                          </div>

                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                  <div class="col-6" style=" margin-top: 30px; ">
                    <h5>Документы</h5>
                    <mat-accordion>
                      <!--                      Прикрепленные-->
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Прикрепленные
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="request-info__row" *ngFor="let item of request.documents;">
                          <div class="request-info__title">
                            <span>{{item?.description}}</span>
                          </div>
                          <div class="request-info__second">
                            <button style="border: none;margin: 10px 0 20px 10px;" class="button_black-border" (click)="getDocs(item?.document)">Просмотреть</button>
                          </div>
                          <div class="request-info__second" *ngIf="delButton">
                            <button style="border: none;margin: 10px 0 20px 10px;" [class.disabled]="request.status.id === 501 || request.status.id === 200" [disabled]="request.status.id === 501 || request.status.id === 200" class="button_black-border" (click)="delDocs(item)">Удалить</button>
                          </div>
                          <div class="request-info__second" *ngIf="editButton">
                            <button style="border: none;margin: 10px 0 20px 10px;" class="button_black-border" (click)="openModal17(template17)">Изменить</button>
                            <!--Modal-->
                            <ng-template #template17>
                              <div class="modal-header">
                                <h4 class="modal-title pull-left">Редактирование названия документа</h4>
                                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                </button>
                              </div>
                              <div class="modal-body">
                                <div class="form-group row" style="text-align: center">
                                  <label class="col-sm-4 col-form-label">Новое название</label>
                                  <div class="col-sm-8">
                                    <input type="text" class="form-control" name="decript" [(ngModel)]="item.description" placeholder="Введите новое название документа">
                                  </div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-dark" (click)="confirm()">Отмена</button>
                                <button type="button" class="btn btn-dark" (click)="editDocs(item)">Изменить</button>
                              </div>
                            </ng-template>
                            <!--Modal-->
                          </div>
                        </div>
                      </mat-expansion-panel>
                      <!--                      Сгенерированные-->
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Сгенерированные
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="request-info__row" *ngFor="let item of request.documents_generated;">
                          <div class="request-info__title">
                            <span>{{item?.description}}</span>
                          </div>
                          <div class="request-info__second">
                            <button style="border: none;margin: 10px 0 20px 10px;" class="button_black-border" (click)="getDocs(item?.document)">Просмотреть</button>
                          </div>
                        </div>
                      </mat-expansion-panel>
                      <!--                      Подписанные-->
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            Подписанные
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="request-info__row" *ngFor="let item of request.documents_signed;">
                          <div class="request-info__title">
                            <span>{{item?.description}}</span>
                          </div>
                          <div class="request-info__second">
                            <button style="border: none;margin: 10px 0 20px 10px;" class="button_black-border" (click)="getDocs(item?.document)">Просмотреть</button>
                          </div>
                          <div class="request-info__second" *ngIf="delButton">
                            <button style="border: none;margin: 10px 0 20px 10px;" [class.disabled]="request.status.id === 501 || request.status.id === 200"  [disabled]="request.status.id === 501 || request.status.id === 200" class="button_black-border" (click)="delDocsSigned(item)">Удалить</button>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="userRole && ready">
        <div class="main-block" *ngIf="laTwo">
            <h1 class="title">Кредитный Администратор</h1>
            <div class="row">
                <div class="col-12">
                    <mat-form-field>
                        <input [(ngModel)]="loanReasonMessage" matInput placeholder="Причина отказа" maxlength="50" required>
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <button class="button_gold" (click)="acceptLoan()">Одобрить</button>
                    <button class="button_gold" (click)="rejectLoan()" style="margin-left: 10px; background: #d63a3a; border: #d63a3a;">Отказать
              </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="riskOfficer && ready">
        <div class="main-block">
            <h1 class="title">Риск информация</h1>
            <div class="row"  *ngIf="done">
                <div *ngIf="request.status.id === 5" class="col-3 mt-4">
                    <div class="col-12">
                        <mat-form-field>
                            <input matInput [(ngModel)]="riskSalary" placeholder="Зарплата" maxlength="50">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field>
                            <input matInput [(ngModel)]="riskReasonMessage" placeholder="Причина отказа" maxlength="50" required>
                        </mat-form-field>
                    </div>
                    <button class="button_gold" (click)="acceptRisk()">Одобрить</button>
                    <button class="button_gold" (click)="rejectRisk()" style="margin-left: 10px; background: #d63a3a; border: #d63a3a;">Отказать
                      </button>
                </div>
                <div *ngIf="showEditOffers" class="col-2">
                    <div class="col-12">
                        <mat-form-field>
                            <input [(ngModel)]="offerApplication" matInput placeholder="Id заявки" maxlength="50" required>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field>
                            <mat-select [(ngModel)]="offerRepayment" placeholder="Тип погашения" required>
                                <mat-option *ngFor="let item of redemptionList" [value]="item.id">
                                    {{item.description}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field>
                            <input matInput [(ngModel)]="offerAmount" mask="comma_separator" placeholder="Сумма" maxlength="50" required >
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field>
                            <input matInput [(ngModel)]="offerTerm" mask="comma_separator" placeholder="Срок" maxlength="50" required >
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field>
                            <input matInput [(ngModel)]="offerRate"  mask="comma_separator" placeholder="Ставка" maxlength="50">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field>
                            <input matInput [(ngModel)]="offerPaymentAmount"  mask="comma_separator" placeholder="Сумма платежа" maxlength="50">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field>
                            <input matInput mask="comma_separator"  [(ngModel)]="offerComissionRate" placeholder="Ставка комиссии" maxlength="50">
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field>
                            <input matInput mask="comma_separator"  [(ngModel)]="offerComissionSum" placeholder="Комиссия" maxlength="50">
                        </mat-form-field>
                        <br>
                        <button class="button_gold" (click)="addOffer()">Добавить оффер</button>
                        <br>
                        <br>
                        <button class="button_gold" (click)="offersDone()">Готово</button>
                        <button class="button_gold" (click)="rejectRisk()" style="margin-left: 10px; background: #d63a3a; border: #d63a3a;">Отказать
                            </button>
                    </div>
                </div>
                <div *ngIf="showEditOffers" class="col-7">
                    <br>
                    <div class="row" *ngIf="done">
                        <div class="4" style="border: 1px solid #000; padding: 10px 10px 10px 10px;" *ngFor="let item of request.offers;">
                            <p>Сумма: {{item.amount | number}}</p>
                            <p>Процент Комиссии: {{item.commission_rate | number}}</p>
                            <p>Сумма комиссии: {{item.commission_sum | number}}</p>
                            <p>Ежемесячный платеж: {{item.payment_amount | number}}</p>
                            <p>Процент: {{item.rate | number}}</p>
                            <p>Тип платежа: {{item.repayment_type.description}}</p>
                            <p>Срок: {{item.term | number}}</p>
                            <p>Сумма: {{item.amount | number}}</p>
                            <button class="button_gold" (click)="deleteOffer(item.id)">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12" *ngIf="done" style="margin-bottom: 50px;">
    <mat-card  class="example-card">
      <mat-card-header>
        <mat-card-title>Загрузить документы</mat-card-title>
        <mat-card-subtitle>Любые дополнительные документы</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="doc" style="border: none;">
          <span class="red-cross"></span>
          <mat-form-field style="margin: 0px 0px 10px 10px;">
            <input [(ngModel)]="randomDescription" matInput placeholder="Наименование документа" maxlength="50" required>
          </mat-form-field>
          <input type="file" id="random" required name="image" (change)="fileEvent($event)" />
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="uploadRandom()"> Загрузить </button>
      </mat-card-actions>
    </mat-card>
  </div>
    <div class="col-12" *ngIf="dispalyOffers">
        <div class="main-block">
            <div class="row" *ngIf="!buttonStatus">
                <form [formGroup]="off">
                <div class="col-12 mt-4">
                    <h1 class="title">Выбор подписанта</h1>
                    <div class="row">
                        <div class="col-4">
                              <mat-form-field>
                                  <mat-select formControlName="signer"  [(ngModel)]="selectSigner" placeholder="ФИО" required>
                                      <mat-option *ngFor="let item of signersList;" [value]="item.id">
                                          {{item.full_name}} {{item.position}}
                                      </mat-option>
                                  </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                </div>
                <!--
<div class="col-12 mt-4">
                  <h1 class="title">Выбор платежной карты</h1>
                    <mat-list>
                        <mat-list-item style="display: flex; justify-content: center; align-items: center;">
                                <mat-form-field>
                                  <mat-select  (selectionChange)="accountSelected($event)" formControlName="account"  [(ngModel)]="selectAccount" placeholder="Платежная карта" required>
                                    <mat-optgroup *ngFor="let group of accountList" [label]="group.iban">
                                      <mat-option *ngFor="let item of group.cards" [value]="item">
                                        {{item.card_number}}
                                      </mat-option>
                                    </mat-optgroup>
                                  </mat-select>
                                </mat-form-field>
                              <mat-icon style="cursor: pointer;" (click)="getClienAccounts()">cached</mat-icon>
                        </mat-list-item>
                    </mat-list>
              </div>
                -->

                </form>

            </div>
            <div class="row">
                <div class="col-12 mt-4">
                    <h1 class="title">Предложения</h1>
                    <div class="row">

                        <div class="col-4 offer" *ngFor="let item of offers">
                            <div class="request-info__row row">
                                <div class="request-info__title col-6">
                                    <span>Сумма</span>
                                </div>
                                <div class="request-info__second col-6">
                                    <span>{{item.amount| number}}</span>
                                </div>
                            </div>
                            <div class="request-info__row row">
                                <div class="request-info__title col-6">
                                    <span>Процентная ставка</span>
                                </div>
                                <div class="request-info__second col-6">
                                    <span>{{item.rate | number}}</span>
                                </div>
                            </div>
                            <div class="request-info__row row">
                                <div class="request-info__title col-6">
                                    <span>Срок</span>
                                </div>
                                <div class="request-info__second col-6">
                                    <span>{{item.term}}</span>
                                </div>
                            </div>
                            <div class="request-info__row row">
                              <div class="request-info__title col-6">
                                  <span>Комиссия</span>
                              </div>
                              <div class="request-info__second col-6">
                                  <span>{{item.commission_sum | number}}</span>
                              </div>

                          </div>
                          <div class="request-info__row row">
                            <div class="request-info__title col-6">
                                <span>Комиссия в процентах</span>
                            </div>
                            <div class="request-info__second col-6">
                                <span>{{item.commission_rate | number}}%</span>
                            </div>

                        </div>
                            <div class="request-info__row row">
                                <div class="request-info__title col-6">
                                    <span>Тип платежа</span>
                                </div>
                                <div class="request-info__second col-6">
                                    <span>{{item.repayment_type?.description}}</span>
                                </div>
                            </div>
                            <div *ngIf="!buttonStatus">
                                <button class="button_gold" (click)="openModal(template); clickedd = true;" [disabled]="off.invalid || clickedd">Оформить</button>
                            </div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Подтвердите действие</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">

    </button>
  </div>
  <div class="modal-body">
    Вы действительно хотите оформить предложение?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="confirm()" >Отмена</button>
    <button class="button_gold" [disabled]="clicked" (click)="selectOffer(item.id); clicked = true;" >Подтвердить</button>
  </div>
</ng-template>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="!buttonStatus">
                        <button [disabled]="reject" class="button_black-border mr-3" style="margin: 20px 0 0 -30px;" (click)="clietnReject()">Клиент отменил заявку
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="col-12" *ngIf="displayDocs">-->
<!--        <div class="main-block">-->
<!--            <div class="col-12">-->
<!--                <div class="row">-->
<!--                    <div class="col-12">-->
<!--                        <div class="row">-->
<!--                            <div class="col-12 pb-2">-->
<!--                                <h1 class="title">Загрузить документы</h1>-->
<!--                            </div>-->
<!--                            <div class="col-12">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-3" *ngFor="let item of signedDocs">-->
<!--                                        <div class="doc">-->
<!--                                            <form (ngSubmit)="uploadData(item.description, item.id)">-->
<!--                                                <span class="red-cross"></span>-->
<!--                                                <div class="doc__title">{{item.description}}</div>-->
<!--                                                <input type="file" name="image" (change)="fileEvent($event)" />-->
<!--                                                <div class="form-group">-->
<!--                                                    <button style="border: none;margin: 10px 0 20px 10px;" class="button_black-border">Загрузить</button>-->
<!--                                                </div>-->
<!--                                                <input style="border: none;margin: 0px 0 20px 10px;" id="{{item.id}}">-->
<!--                                            </form>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-12 mt-4" >-->
<!--                                <button mat-button class="button_black px-4" (click)="sentDocs()">Далее</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="col-12" *ngIf="firstDocs">-->
<!--        <div class="main-block">-->
<!--            <div class="col-12">-->
<!--                <div class="row">-->
<!--                    <div class="col-12">-->
<!--                        <div class="row">-->
<!--                            <div class="col-12 pb-2">-->
<!--                                <h1 class="title">Загрузить документы</h1>-->
<!--                            </div>-->
<!--                            <div class="col-12">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-3" *ngFor="let item of firstDocsList">-->
<!--                                        <div class="doc">-->
<!--                                            <form (ngSubmit)="uploadData(item.description, item.id)">-->
<!--                                                <span class="red-cross"></span>-->
<!--                                                <div class="doc__title">{{item.description}}</div>-->
<!--                                                <input type="file" required name="image" (change)="fileEvent($event)" />-->
<!--                                                <div class="form-group">-->
<!--                                                    <button style="border: none;margin: 10px 0 20px 10px;" class="button_black-border">Загрузить</button>-->
<!--                                                </div>-->
<!--                                                <input style="border: none;margin: 0px 0 20px 10px;" id="{{item.id}}">-->
<!--                                            </form>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-12 mt-4">-->
<!--                                <button mat-button class="button_black px-4" (click)="checkServiceStatus()">Далее</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
