.steps {
    font-size: 12px;
    text-align: center;
}

.step {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;

    div {
        margin-left: auto;
        margin-right: auto;
    }

    width: 90px;

    margin-left: 30px;
    margin-right: 30px;

    &:not(:last-child):before {
        content: ' ';
        position: absolute;
        width: 72px;
        top: 13px;
        left: 84px;
        border-bottom: 1px solid #C4C4C4;
    }

    &:first-child {
        margin-left: 0;
        margin-right: 30px;
    }

    &:last-child {
        margin-left: 30px;
        margin-right: 0;
    }
}

.step__number {
    height: 28px;
    width: 28px;
    background: #F5BA42;
    color: white;
    border-radius: 25px;
    font-size: 18px;
    margin-bottom: 10px;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;

    justify-content: center;
}

.step__status {
    font-size: 12px;
}

.step__comment {
    font-size: 11px;
    color: #c4c4c4;
}

.step__comment, .step__status {
    white-space: nowrap;
}

.step_not-active {
    .step__number {
        background-color: #C4C4C4;
    }

    .step__status {
        color: #C4C4C4
    }
}

.request-info__row {
    height: 44px;
    color: #555555;
    font-size: 14px;
    padding-left: 18px;

    div {
        height: 100%;

        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;

        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;

        align-items: center;
    }
}

.request-info__title {
    width: 240px;
}

.offer{
  background: #f9f9f9;
  padding: 0px 0px 20px 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.doc input {
  margin: 0 auto;
  margin-left: 11px;
  margin-top: 3px;
}

.doc {
  display: inline-block;
  cursor: pointer;
  position: relative;
  border: 1px solid #b0afb0;
  margin-bottom: 20px;
  border-radius: 10px;



  .doc__image {
    height: 120px;
    background: #F2F3F5 url("../../../../assets/icon/camera.svg") no-repeat center;
    overflow: hidden;
  }

  .doc__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 10px 0;
    text-align: center;
    min-height: 50px;
  }

  & + & {
    margin-left: 16px;
  }
}

.red-cross {
  display: none;
}

.example-card {
  max-width: 400px;
  margin-right: 10px;
}


.doc__loaded {
  cursor: default;
  .red-cross {
    display: block;
  }
}
