<div class="container-fluid pt-5 pl-4">
    <div class="row">
        <div class="col-12 pb-2">
            <h1 class="title">Главная страница</h1>
        </div>
        <div class="col-6">
            <div class="main-block">
                <h2 class="title">План-факт на месяц</h2>
                <!--<div class="date-caption mt-3">Выберите период</div>-->
                <!--<div>-->
                    <!--<mat-form-field class="w-100">-->
                        <!--<input matInput [matDatepicker]="period" placeholder="Текущий месяц">-->
                        <!--<mat-datepicker-toggle matSuffix [for]="period"></mat-datepicker-toggle>-->
                        <!--<mat-datepicker #period></mat-datepicker>-->
                    <!--</mat-form-field>-->
                <!--</div>-->

                <div class="flex-vertical-center">
                    <div id="canvas-holder">
                        <label class="chart-title">{{donut.overal_sum}}</label>
                        <canvas baseChart width="208" height="208"
                                [data]="doughnutChartData"
                                [labels]="doughnutChartLabels"
                                [chartType]="doughnutChartType"
                                [options]="doughnutChartOption"
                                [colors]="doughnutChartStyle">
                        </canvas>
                    </div>


                    <!--<div class="chart-pie">
                        <svg width="208" height="208" viewBox="0 0 208 208" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M45.2275 91.707L45.9658 85.2031H53.1377V87.3213H48.0488L47.7324 90.0723C48.3359 89.75 48.9775 89.5889 49.6572 89.5889C50.876 89.5889 51.8311 89.9668 52.5225 90.7227C53.2139 91.4785 53.5596 92.5361 53.5596 93.8955C53.5596 94.7217 53.3838 95.4629 53.0322 96.1191C52.6865 96.7695 52.1885 97.2764 51.5381 97.6396C50.8877 97.9971 50.1201 98.1758 49.2354 98.1758C48.4619 98.1758 47.7441 98.0205 47.082 97.71C46.4199 97.3936 45.8955 96.9512 45.5088 96.3828C45.1279 95.8145 44.9258 95.167 44.9023 94.4404H47.416C47.4688 94.9736 47.6533 95.3896 47.9697 95.6885C48.292 95.9814 48.7109 96.1279 49.2266 96.1279C49.8008 96.1279 50.2432 95.9229 50.5537 95.5127C50.8643 95.0967 51.0195 94.5107 51.0195 93.7549C51.0195 93.0283 50.8408 92.4717 50.4834 92.085C50.126 91.6982 49.6191 91.5049 48.9629 91.5049C48.3594 91.5049 47.8701 91.6631 47.4951 91.9795L47.249 92.208L45.2275 91.707ZM60.0459 91.707L60.7842 85.2031H67.9561V87.3213H62.8672L62.5508 90.0723C63.1543 89.75 63.7959 89.5889 64.4756 89.5889C65.6943 89.5889 66.6494 89.9668 67.3408 90.7227C68.0322 91.4785 68.3779 92.5361 68.3779 93.8955C68.3779 94.7217 68.2021 95.4629 67.8506 96.1191C67.5049 96.7695 67.0068 97.2764 66.3564 97.6396C65.7061 97.9971 64.9385 98.1758 64.0537 98.1758C63.2803 98.1758 62.5625 98.0205 61.9004 97.71C61.2383 97.3936 60.7139 96.9512 60.3271 96.3828C59.9463 95.8145 59.7441 95.167 59.7207 94.4404H62.2344C62.2871 94.9736 62.4717 95.3896 62.7881 95.6885C63.1104 95.9814 63.5293 96.1279 64.0449 96.1279C64.6191 96.1279 65.0615 95.9229 65.3721 95.5127C65.6826 95.0967 65.8379 94.5107 65.8379 93.7549C65.8379 93.0283 65.6592 92.4717 65.3018 92.085C64.9443 91.6982 64.4375 91.5049 63.7812 91.5049C63.1777 91.5049 62.6885 91.6631 62.3135 91.9795L62.0674 92.208L60.0459 91.707ZM77.5186 93.1836H78.9688V95.2314H77.5186V98H74.9785V95.2314H69.7314L69.6172 93.6318L74.9521 85.2031H77.5186V93.1836ZM72.1484 93.1836H74.9785V88.666L74.8115 88.9561L72.1484 93.1836ZM80.7178 91.707L81.4561 85.2031H88.6279V87.3213H83.5391L83.2227 90.0723C83.8262 89.75 84.4678 89.5889 85.1475 89.5889C86.3662 89.5889 87.3213 89.9668 88.0127 90.7227C88.7041 91.4785 89.0498 92.5361 89.0498 93.8955C89.0498 94.7217 88.874 95.4629 88.5225 96.1191C88.1768 96.7695 87.6787 97.2764 87.0283 97.6396C86.3779 97.9971 85.6104 98.1758 84.7256 98.1758C83.9521 98.1758 83.2344 98.0205 82.5723 97.71C81.9102 97.3936 81.3857 96.9512 80.999 96.3828C80.6182 95.8145 80.416 95.167 80.3926 94.4404H82.9062C82.959 94.9736 83.1436 95.3896 83.46 95.6885C83.7822 95.9814 84.2012 96.1279 84.7168 96.1279C85.291 96.1279 85.7334 95.9229 86.0439 95.5127C86.3545 95.0967 86.5098 94.5107 86.5098 93.7549C86.5098 93.0283 86.3311 92.4717 85.9736 92.085C85.6162 91.6982 85.1094 91.5049 84.4531 91.5049C83.8496 91.5049 83.3604 91.6631 82.9854 91.9795L82.7393 92.208L80.7178 91.707ZM103.771 92.709C103.771 94.4785 103.405 95.832 102.673 96.7695C101.94 97.707 100.868 98.1758 99.4561 98.1758C98.0615 98.1758 96.9951 97.7158 96.2568 96.7959C95.5186 95.876 95.1406 94.5576 95.123 92.8408V90.4854C95.123 88.6982 95.4922 87.3418 96.2305 86.416C96.9746 85.4902 98.0439 85.0273 99.4385 85.0273C100.833 85.0273 101.899 85.4873 102.638 86.4072C103.376 87.3213 103.754 88.6367 103.771 90.3535V92.709ZM101.231 90.125C101.231 89.0645 101.085 88.2939 100.792 87.8135C100.505 87.3271 100.054 87.084 99.4385 87.084C98.8408 87.084 98.3984 87.3154 98.1113 87.7783C97.8301 88.2354 97.6807 88.9531 97.6631 89.9316V93.043C97.6631 94.0859 97.8037 94.8623 98.085 95.3721C98.3721 95.876 98.8291 96.1279 99.4561 96.1279C100.077 96.1279 100.525 95.8848 100.801 95.3984C101.076 94.9121 101.22 94.168 101.231 93.166V90.125ZM114.107 92.709C114.107 94.4785 113.741 95.832 113.009 96.7695C112.276 97.707 111.204 98.1758 109.792 98.1758C108.397 98.1758 107.331 97.7158 106.593 96.7959C105.854 95.876 105.477 94.5576 105.459 92.8408V90.4854C105.459 88.6982 105.828 87.3418 106.566 86.416C107.311 85.4902 108.38 85.0273 109.774 85.0273C111.169 85.0273 112.235 85.4873 112.974 86.4072C113.712 87.3213 114.09 88.6367 114.107 90.3535V92.709ZM111.567 90.125C111.567 89.0645 111.421 88.2939 111.128 87.8135C110.841 87.3271 110.39 87.084 109.774 87.084C109.177 87.084 108.734 87.3154 108.447 87.7783C108.166 88.2354 108.017 88.9531 107.999 89.9316V93.043C107.999 94.0859 108.14 94.8623 108.421 95.3721C108.708 95.876 109.165 96.1279 109.792 96.1279C110.413 96.1279 110.861 95.8848 111.137 95.3984C111.412 94.9121 111.556 94.168 111.567 93.166V90.125ZM124.443 92.709C124.443 94.4785 124.077 95.832 123.345 96.7695C122.612 97.707 121.54 98.1758 120.128 98.1758C118.733 98.1758 117.667 97.7158 116.929 96.7959C116.19 95.876 115.812 94.5576 115.795 92.8408V90.4854C115.795 88.6982 116.164 87.3418 116.902 86.416C117.646 85.4902 118.716 85.0273 120.11 85.0273C121.505 85.0273 122.571 85.4873 123.31 86.4072C124.048 87.3213 124.426 88.6367 124.443 90.3535V92.709ZM121.903 90.125C121.903 89.0645 121.757 88.2939 121.464 87.8135C121.177 87.3271 120.726 87.084 120.11 87.084C119.513 87.084 119.07 87.3154 118.783 87.7783C118.502 88.2354 118.353 88.9531 118.335 89.9316V93.043C118.335 94.0859 118.476 94.8623 118.757 95.3721C119.044 95.876 119.501 96.1279 120.128 96.1279C120.749 96.1279 121.197 95.8848 121.473 95.3984C121.748 94.9121 121.892 94.168 121.903 93.166V90.125ZM126.931 101.208L125.604 100.514L125.92 99.9424C126.312 99.2275 126.515 98.5156 126.526 97.8066V95.8379H128.671L128.662 97.5957C128.656 98.2461 128.492 98.9023 128.17 99.5645C127.848 100.227 127.435 100.774 126.931 101.208ZM139.174 92.709C139.174 94.4785 138.808 95.832 138.075 96.7695C137.343 97.707 136.271 98.1758 134.858 98.1758C133.464 98.1758 132.397 97.7158 131.659 96.7959C130.921 95.876 130.543 94.5576 130.525 92.8408V90.4854C130.525 88.6982 130.895 87.3418 131.633 86.416C132.377 85.4902 133.446 85.0273 134.841 85.0273C136.235 85.0273 137.302 85.4873 138.04 86.4072C138.778 87.3213 139.156 88.6367 139.174 90.3535V92.709ZM136.634 90.125C136.634 89.0645 136.487 88.2939 136.194 87.8135C135.907 87.3271 135.456 87.084 134.841 87.084C134.243 87.084 133.801 87.3154 133.514 87.7783C133.232 88.2354 133.083 88.9531 133.065 89.9316V93.043C133.065 94.0859 133.206 94.8623 133.487 95.3721C133.774 95.876 134.231 96.1279 134.858 96.1279C135.479 96.1279 135.928 95.8848 136.203 95.3984C136.479 94.9121 136.622 94.168 136.634 93.166V90.125ZM149.51 92.709C149.51 94.4785 149.144 95.832 148.411 96.7695C147.679 97.707 146.606 98.1758 145.194 98.1758C143.8 98.1758 142.733 97.7158 141.995 96.7959C141.257 95.876 140.879 94.5576 140.861 92.8408V90.4854C140.861 88.6982 141.23 87.3418 141.969 86.416C142.713 85.4902 143.782 85.0273 145.177 85.0273C146.571 85.0273 147.638 85.4873 148.376 86.4072C149.114 87.3213 149.492 88.6367 149.51 90.3535V92.709ZM146.97 90.125C146.97 89.0645 146.823 88.2939 146.53 87.8135C146.243 87.3271 145.792 87.084 145.177 87.084C144.579 87.084 144.137 87.3154 143.85 87.7783C143.568 88.2354 143.419 88.9531 143.401 89.9316V93.043C143.401 94.0859 143.542 94.8623 143.823 95.3721C144.11 95.876 144.567 96.1279 145.194 96.1279C145.815 96.1279 146.264 95.8848 146.539 95.3984C146.814 94.9121 146.958 94.168 146.97 93.166V90.125ZM163.713 90.5293H160.663V98H158.114V90.5293H155.117V88.4902H163.713V90.5293Z"
                                  fill="black"/>
                            <path d="M45.9219 121.137C44.8372 121.137 43.9531 120.804 43.2695 120.139C42.5905 119.473 42.251 118.587 42.251 117.479V117.288C42.251 116.545 42.3945 115.882 42.6816 115.299C42.9688 114.711 43.3743 114.26 43.8984 113.945C44.4271 113.626 45.0286 113.467 45.7031 113.467C46.7148 113.467 47.5101 113.786 48.0889 114.424C48.6722 115.062 48.9639 115.966 48.9639 117.138V117.944H44.2539C44.3177 118.427 44.5091 118.815 44.8281 119.106C45.1517 119.398 45.5596 119.544 46.0518 119.544C46.8128 119.544 47.4076 119.268 47.8359 118.717L48.8066 119.804C48.5104 120.223 48.1094 120.551 47.6035 120.788C47.0977 121.021 46.5371 121.137 45.9219 121.137ZM45.6963 115.066C45.3044 115.066 44.9854 115.199 44.7393 115.463C44.4977 115.727 44.3428 116.105 44.2744 116.598H47.0225V116.44C47.0133 116.003 46.8949 115.666 46.667 115.429C46.4391 115.187 46.1156 115.066 45.6963 115.066ZM52.0469 113.604V119.407H54.0771V113.604H56.0596V119.407H58.083V113.604H60.0654V119.421H61.5352L61.3984 123.194H59.5596V121H50.0713V113.604H52.0469ZM65.9785 121.137C64.8939 121.137 64.0098 120.804 63.3262 120.139C62.6471 119.473 62.3076 118.587 62.3076 117.479V117.288C62.3076 116.545 62.4512 115.882 62.7383 115.299C63.0254 114.711 63.431 114.26 63.9551 113.945C64.4837 113.626 65.0853 113.467 65.7598 113.467C66.7715 113.467 67.5667 113.786 68.1455 114.424C68.7288 115.062 69.0205 115.966 69.0205 117.138V117.944H64.3105C64.3743 118.427 64.5658 118.815 64.8848 119.106C65.2083 119.398 65.6162 119.544 66.1084 119.544C66.8695 119.544 67.4642 119.268 67.8926 118.717L68.8633 119.804C68.5671 120.223 68.166 120.551 67.6602 120.788C67.1543 121.021 66.5938 121.137 65.9785 121.137ZM65.7529 115.066C65.361 115.066 65.042 115.199 64.7959 115.463C64.5544 115.727 64.3994 116.105 64.3311 116.598H67.0791V116.44C67.07 116.003 66.9515 115.666 66.7236 115.429C66.4958 115.187 66.1722 115.066 65.7529 115.066ZM75.5625 115.148H76.6152C77.1165 115.148 77.488 115.023 77.7295 114.772C77.971 114.522 78.0918 114.189 78.0918 113.774C78.0918 113.373 77.971 113.061 77.7295 112.838C77.4925 112.615 77.1644 112.503 76.7451 112.503C76.3669 112.503 76.0501 112.608 75.7949 112.817C75.5397 113.022 75.4121 113.291 75.4121 113.624H73.4365C73.4365 113.104 73.5755 112.64 73.8535 112.229C74.1361 111.815 74.528 111.491 75.0293 111.259C75.5352 111.026 76.0911 110.91 76.6973 110.91C77.75 110.91 78.5749 111.163 79.1719 111.669C79.7689 112.17 80.0674 112.863 80.0674 113.747C80.0674 114.203 79.9284 114.622 79.6504 115.005C79.3724 115.388 79.0078 115.682 78.5566 115.887C79.1172 116.087 79.5342 116.388 79.8076 116.789C80.0856 117.19 80.2246 117.664 80.2246 118.211C80.2246 119.095 79.901 119.804 79.2539 120.337C78.6113 120.87 77.7591 121.137 76.6973 121.137C75.7038 121.137 74.8903 120.875 74.2568 120.351C73.6279 119.826 73.3135 119.134 73.3135 118.272H75.2891C75.2891 118.646 75.4281 118.951 75.7061 119.188C75.9886 119.425 76.335 119.544 76.7451 119.544C77.2145 119.544 77.5814 119.421 77.8457 119.175C78.1146 118.924 78.249 118.594 78.249 118.184C78.249 117.19 77.7021 116.693 76.6084 116.693H75.5625V115.148ZM87.0879 115.148H88.1406C88.6419 115.148 89.0133 115.023 89.2549 114.772C89.4964 114.522 89.6172 114.189 89.6172 113.774C89.6172 113.373 89.4964 113.061 89.2549 112.838C89.0179 112.615 88.6898 112.503 88.2705 112.503C87.8923 112.503 87.5755 112.608 87.3203 112.817C87.0651 113.022 86.9375 113.291 86.9375 113.624H84.9619C84.9619 113.104 85.1009 112.64 85.3789 112.229C85.6615 111.815 86.0534 111.491 86.5547 111.259C87.0605 111.026 87.6165 110.91 88.2227 110.91C89.2754 110.91 90.1003 111.163 90.6973 111.669C91.2943 112.17 91.5928 112.863 91.5928 113.747C91.5928 114.203 91.4538 114.622 91.1758 115.005C90.8978 115.388 90.5332 115.682 90.082 115.887C90.6426 116.087 91.0596 116.388 91.333 116.789C91.611 117.19 91.75 117.664 91.75 118.211C91.75 119.095 91.4264 119.804 90.7793 120.337C90.1367 120.87 89.2845 121.137 88.2227 121.137C87.2292 121.137 86.4157 120.875 85.7822 120.351C85.1533 119.826 84.8389 119.134 84.8389 118.272H86.8145C86.8145 118.646 86.9535 118.951 87.2314 119.188C87.514 119.425 87.8604 119.544 88.2705 119.544C88.7399 119.544 89.1068 119.421 89.3711 119.175C89.64 118.924 89.7744 118.594 89.7744 118.184C89.7744 117.19 89.2275 116.693 88.1338 116.693H87.0879V115.148ZM98.9619 117.254H100.09V118.847H98.9619V121H96.9863V118.847H92.9053L92.8164 117.603L96.9658 111.047H98.9619V117.254ZM94.7852 117.254H96.9863V113.74L96.8564 113.966L94.7852 117.254ZM103.166 115.148H104.219C104.72 115.148 105.091 115.023 105.333 114.772C105.575 114.522 105.695 114.189 105.695 113.774C105.695 113.373 105.575 113.061 105.333 112.838C105.096 112.615 104.768 112.503 104.349 112.503C103.97 112.503 103.654 112.608 103.398 112.817C103.143 113.022 103.016 113.291 103.016 113.624H101.04C101.04 113.104 101.179 112.64 101.457 112.229C101.74 111.815 102.132 111.491 102.633 111.259C103.139 111.026 103.695 110.91 104.301 110.91C105.354 110.91 106.178 111.163 106.775 111.669C107.372 112.17 107.671 112.863 107.671 113.747C107.671 114.203 107.532 114.622 107.254 115.005C106.976 115.388 106.611 115.682 106.16 115.887C106.721 116.087 107.138 116.388 107.411 116.789C107.689 117.19 107.828 117.664 107.828 118.211C107.828 119.095 107.505 119.804 106.857 120.337C106.215 120.87 105.363 121.137 104.301 121.137C103.307 121.137 102.494 120.875 101.86 120.351C101.231 119.826 100.917 119.134 100.917 118.272H102.893C102.893 118.646 103.032 118.951 103.31 119.188C103.592 119.425 103.938 119.544 104.349 119.544C104.818 119.544 105.185 119.421 105.449 119.175C105.718 118.924 105.853 118.594 105.853 118.184C105.853 117.19 105.306 116.693 104.212 116.693H103.166V115.148ZM118.526 117.254H119.654V118.847H118.526V121H116.551V118.847H112.47L112.381 117.603L116.53 111.047H118.526V117.254ZM114.35 117.254H116.551V113.74L116.421 113.966L114.35 117.254ZM127.42 116.885C127.42 118.261 127.135 119.314 126.565 120.043C125.996 120.772 125.162 121.137 124.063 121.137C122.979 121.137 122.149 120.779 121.575 120.063C121.001 119.348 120.707 118.323 120.693 116.987V115.155C120.693 113.765 120.98 112.71 121.555 111.99C122.133 111.27 122.965 110.91 124.05 110.91C125.134 110.91 125.964 111.268 126.538 111.983C127.112 112.694 127.406 113.717 127.42 115.053V116.885ZM125.444 114.875C125.444 114.05 125.33 113.451 125.103 113.077C124.879 112.699 124.528 112.51 124.05 112.51C123.585 112.51 123.241 112.69 123.018 113.05C122.799 113.405 122.683 113.964 122.669 114.725V117.145C122.669 117.956 122.778 118.56 122.997 118.956C123.22 119.348 123.576 119.544 124.063 119.544C124.547 119.544 124.895 119.355 125.109 118.977C125.324 118.598 125.435 118.02 125.444 117.24V114.875ZM135.459 116.885C135.459 118.261 135.174 119.314 134.604 120.043C134.035 120.772 133.201 121.137 132.103 121.137C131.018 121.137 130.188 120.779 129.614 120.063C129.04 119.348 128.746 118.323 128.732 116.987V115.155C128.732 113.765 129.02 112.71 129.594 111.99C130.173 111.27 131.004 110.91 132.089 110.91C133.174 110.91 134.003 111.268 134.577 111.983C135.151 112.694 135.445 113.717 135.459 115.053V116.885ZM133.483 114.875C133.483 114.05 133.369 113.451 133.142 113.077C132.918 112.699 132.567 112.51 132.089 112.51C131.624 112.51 131.28 112.69 131.057 113.05C130.838 113.405 130.722 113.964 130.708 114.725V117.145C130.708 117.956 130.817 118.56 131.036 118.956C131.259 119.348 131.615 119.544 132.103 119.544C132.586 119.544 132.934 119.355 133.148 118.977C133.363 118.598 133.474 118.02 133.483 117.24V114.875ZM137.394 123.495L136.361 122.955L136.607 122.511C136.913 121.955 137.07 121.401 137.079 120.85V119.318H138.747L138.74 120.686C138.736 121.191 138.608 121.702 138.357 122.217C138.107 122.732 137.785 123.158 137.394 123.495ZM146.916 116.885C146.916 118.261 146.631 119.314 146.062 120.043C145.492 120.772 144.658 121.137 143.56 121.137C142.475 121.137 141.646 120.779 141.071 120.063C140.497 119.348 140.203 118.323 140.189 116.987V115.155C140.189 113.765 140.477 112.71 141.051 111.99C141.63 111.27 142.461 110.91 143.546 110.91C144.631 110.91 145.46 111.268 146.034 111.983C146.608 112.694 146.902 113.717 146.916 115.053V116.885ZM144.94 114.875C144.94 114.05 144.826 113.451 144.599 113.077C144.375 112.699 144.024 112.51 143.546 112.51C143.081 112.51 142.737 112.69 142.514 113.05C142.295 113.405 142.179 113.964 142.165 114.725V117.145C142.165 117.956 142.274 118.56 142.493 118.956C142.716 119.348 143.072 119.544 143.56 119.544C144.043 119.544 144.391 119.355 144.605 118.977C144.82 118.598 144.931 118.02 144.94 117.24V114.875ZM154.955 116.885C154.955 118.261 154.67 119.314 154.101 120.043C153.531 120.772 152.697 121.137 151.599 121.137C150.514 121.137 149.685 120.779 149.11 120.063C148.536 119.348 148.242 118.323 148.229 116.987V115.155C148.229 113.765 148.516 112.71 149.09 111.99C149.669 111.27 150.5 110.91 151.585 110.91C152.67 110.91 153.499 111.268 154.073 111.983C154.647 112.694 154.941 113.717 154.955 115.053V116.885ZM152.979 114.875C152.979 114.05 152.866 113.451 152.638 113.077C152.414 112.699 152.063 112.51 151.585 112.51C151.12 112.51 150.776 112.69 150.553 113.05C150.334 113.405 150.218 113.964 150.204 114.725V117.145C150.204 117.956 150.313 118.56 150.532 118.956C150.756 119.348 151.111 119.544 151.599 119.544C152.082 119.544 152.43 119.355 152.645 118.977C152.859 118.598 152.97 118.02 152.979 117.24V114.875ZM166.002 115.189H163.63V121H161.647V115.189H159.316V113.604H166.002V115.189Z"
                                  fill="#C4C4C4"/>
                            <path d="M208 104C208 161.438 161.438 208 104 208C46.5624 208 0 161.438 0 104C0 46.5624 46.5624 0 104 0C161.438 0 208 46.5624 208 104ZM20.8 104C20.8 149.95 58.0499 187.2 104 187.2C149.95 187.2 187.2 149.95 187.2 104C187.2 58.0499 149.95 20.8 104 20.8C58.0499 20.8 20.8 58.0499 20.8 104Z"
                                  fill="#E5EBEF"/>
                            <path d="M207.43 93.1279C209.346 111.355 206.411 129.765 198.923 146.493C191.434 163.221 179.658 177.674 164.787 188.386C149.915 199.098 132.477 205.69 114.239 207.495C95.9999 209.299 77.6083 206.252 60.9263 198.661C44.2444 191.07 29.8647 179.205 19.2436 164.269C8.62245 149.332 2.13715 131.854 0.444483 113.605C-1.24818 95.3555 1.91191 76.9828 9.6047 60.3476C17.2975 43.7125 29.2498 29.4057 44.251 18.8762L56.2008 35.901C44.1998 44.3245 34.638 55.77 28.4838 69.0781C22.3295 82.3862 19.8014 97.0844 21.1556 111.684C22.5097 126.284 27.698 140.266 36.1949 152.215C44.6917 164.164 56.1955 173.656 69.5411 179.729C82.8866 185.801 97.6 188.239 112.191 186.796C126.782 185.352 140.732 180.079 152.629 171.509C164.526 162.939 173.947 151.377 179.938 137.995C185.929 124.612 188.277 109.884 186.744 95.3023L207.43 93.1279Z"
                                  fill="#F5BA42"/>
                        </svg>
                    </div>-->

                    <div class="month-scheme">
                        <div>Всего заявок: <b>{{donut.all_count}}</b></div>
                        <div>Одобрено: <b>{{donut.accepted_count}}</b></div>
                        <div>Отказано: <b>{{donut.rejected_count}}</b></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="main-block">
                <h2 class="title mb-3">Статистика</h2>
                <!--<div class="date-caption mt-3">Выберите период</div>-->
                <!--<div>-->
                    <!--<mat-form-field class="w-100">-->
                        <!--<input matInput [matDatepicker]="periodStat" placeholder="Текущий месяц">-->
                        <!--<mat-datepicker-toggle matSuffix [for]="periodStat"></mat-datepicker-toggle>-->
                        <!--<mat-datepicker #periodStat></mat-datepicker>-->
                    <!--</mat-form-field>-->
                <!--</div>-->
                <div class="item-list" *ngFor="let item of myTeam">
                    <div class="item-list__item">
                        {{item.user.first_name}} {{item.user.last_name}}
                        <span class="ml-auto">{{item.sum}} т</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="main-block pb-0">
                <h2 class="title mb-3">Общий график</h2>
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="01 Марта - 01 Апреля">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <mat-form-field>
                            <mat-select placeholder="Тип продукта">
                                <mat-option value="">
                                    Любой
                                </mat-option>
                                <mat-option>
                                    Test
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <mat-form-field>
                            <mat-select placeholder="Статус">
                                <mat-option value="">
                                    Любой
                                </mat-option>
                                <mat-option>
                                    Test
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <mat-form-field>
                            <mat-select placeholder="Менеджер">
                                <mat-option value="">
                                    Любой
                                </mat-option>
                                <mat-option>
                                    Test
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 chart border">
                        <canvas baseChart
                                [data]="barChartData"
                                [labels]="barChartLabels"
                                [chartType]="barChartType"
                                [options]="barChartOptions"
                        ></canvas>

                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-12">
                        <h3 class="title mb-4">Информация по продуктам</h3>
                        <div class="product-info">
                            <div>Беззалоговый кредит</div>
                            <div>{{donut.all_count}} заявок</div>
                            <div>{{donut.overal_sum}} т</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<div class="container">
    <div class="row line">
        <div class="col-lg-5 offset-lg-1 content-block">
            <div class="row">
                <div class="col-lg-12" *ngFor="let item of requests">
                    <div class="row">
                        <div class="item col-6 col-sm-4 col-md-4">
                            <p>{{item.date}}</p>
                            <p class="important_info">{{item.IIN}}</p>
                        </div>
                        <div class="item col-6 col-sm-4 col-md-8">
                            <p>{{item.credit_type}} ({{item.credit_amount}} тг)</p>
                            <p class="important_info">{{item.fio}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 offset-lg-1 content-block">
            <div class="row">
                <div class="col-lg-12" *ngFor="let item of requests">
                    <div class="row">
                        <div class="item col-6 col-sm-4 col-md-4">
                            <p>{{item.date}}</p>
                            <p class="important_info">{{item.IIN}}</p>
                        </div>
                        <div class="item col-6 col-sm-4 col-md-8">
                            <p>{{item.credit_type}} ({{item.credit_amount}} тг)</p>
                            <p class="important_info">{{item.fio}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row line">
        <div class="col-lg-11 offset-lg-1 content-block">
            <div class="row">
                <div class="col-lg-7">
                    <div style="display: block">
                        <canvas mdbChart
                                [chartType]="chartType"
                                [datasets]="chartDatasets"
                                [labels]="chartLabels"
                                [colors]="chartColors"
                                [options]="chartOptions"
                                [legend]="true"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                        </canvas>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div style="display: block">
                        <canvas mdbChart
                                [chartType]="secondChartType"
                                [datasets]="secondChartDatasets"
                                [labels]="secondChartLabels"
                                [colors]="secondChartColors"
                                [options]="secondChartOptions"
                                [legend]="true"
                                (chartHover)="secondChartHovered($event)"
                                (chartClick)="secondChartClicked($event)">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
