.item {
    border-bottom: 1px solid #dcdcdc;
    font-size: 12px;
    font-weight: lighter;
    margin: 10px 0 0 0;

    p {
        margin-bottom: 5px;
    }
}

.line {
    margin-top: 30px;
}

.notification {
    cursor: pointer;

    &:hover {
        color: #F5BA42;
    }

    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.notification__date {
    font-size: 10px;
}

.notification__name {
    font-weight: bold;
}

.month-scheme {
    font-size: 14px;
    line-height: 23px;

    margin-left: 32px;
}

.chart-pie {
    width: 208px;
    height: 208px;
}

.chart-pie, .month-scheme {
    display: inline-block;
    margin-top: 24px;
    vertical-align: top;
}

.chart {
    height: 308px;
}


.product-info {
    font-size: 14px;

    div {
        display: inline-block;
        width: 215px;
        height: 44px;
    }
}

.date-caption {
    font-size: 12px;
    line-height: 12px;
    color: #AFB5B5;
}
#canvas-holder {
    height: 208px;
    width: 208px;
    position: relative;
}

.chart-title {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 60%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
