
mat-sidenav-content {
    background-color: #eceff1;
}

.top-bar {
    height: 56px;
    background-color: #1A212C;
    img {
        margin: 22px 0 22px 19px;
        cursor: pointer;
    }
}

.open {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    outline: none;
    background: url("../assets/icon/arrow.png") no-repeat;
    background-size: cover;
    margin: 10px 0 0 10px;
    transition: 0.3s;
    border: none;
}

.hide {
    display: none;
}
.new_request {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    outline: none;
    background: url("../assets/icon/add-request.png")no-repeat;
    background-size: cover;
    background-position: 0 0;
    margin: 70px 0 0 10px;
    transition: 0.3s;
    @media (max-width: 991px) {
        margin: 10px 75px;
    }
}

.opened {
    transform: rotate(180deg)
}

.top-bar__button-block {
    margin: 10px 0;

    .lang-button {
        font-size: 14px;
        color: white;
        border-bottom: 1px solid white;
        margin: 0 5px;
    }

    .lang-button_selected {
        color: #F5BA42;
        border-bottom-color: #F5BA42;
    }

    .button_logout {
        margin-right: 24px;
        height: 36px;
        padding: 0 20px;
    }
}

