<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="top-bar">
            <div *ngIf="menu" class="d-inline-block">
                <img src="../assets/icon/menu.svg" alt="menu" (click)="sidenav.toggle()">
            </div>

            <div class="d-inline-block float-right top-bar__button-block">
                <a class="lang-button" [class.lang-button_selected]="language == 'ru'" (click)="useLanguage('ru', $event)">Рус</a>
                <a class="lang-button mr-3" [class.lang-button_selected]="language == 'kz'" (click)="useLanguage('kz', $event)">Каз</a>

                <button *ngIf="menu" class="button_gold-border button_logout" (click)="logout()">Выйти</button>
            </div>
        </div>
        <router-outlet (activate)="checkAuth()"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<ng4-loading-spinner> </ng4-loading-spinner>
