<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-6 mx-auto mt-4rem">
            <div class="content-block text-center">
                <div class="mb-3">
                    <img alt="rbk-logo" class="rbk-logo" src="./assets/img/login_page/logorbk.svg">
                </div>
                <form [formGroup]="firstFormGroup">
                    <div>
                        <mat-form-field>
                            <input matInput formControlName="login"  placeholder="Введите логин">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <input matInput type="password" formControlName="password" placeholder="Пароль">
                        </mat-form-field>
                    </div>
                    <div class="mb-4 mt-2">
                        <button mat-raised-button class="button_black" (click)="login()">Войти</button>
                    </div>
                </form>
                <div class="my-3">
                    <a routerLink="/new-password">Забыли пароль?</a>
                </div>
            </div>
        </div>
    </div>
</div>
