.rbk-logo {
    margin: 20px 0;
    max-width: 160px;
}

.login_input {
    margin-bottom: 20px;
}

.login_button {
    text-align: center;
}

.item {
    margin-bottom: 10px;
    text-align: center;
}

.mat-form-field, .button_black {
    width: 16rem !important;
}

a {
    color: #FFCB38;
}