<div class="container">
    <div class="row">
        <div class="col-5 pt-4">
            <h1 class="title">Фото клиента</h1>
            <div class="photo mt-4">
              <div class="camera-block">
                <ack-webcam
                  #webcam
                  [options] = "options"
                  style="display:block;width:600px:height:600px"
                ></ack-webcam>
              </div>
            </div>
            <div class="my-3">
                <button class="button_black-border" (click)="genBase64(webcam)">Сфотографировать</button>
            </div>
    </div>
        <div class="col-6 photo center-vertical text-center mt-4 mt-lg-0" *ngIf="base64">
          <div style="width: 468px; height: 351px;">
            <img alt="selfie" style="width: 468px; height: 351px;" class="image_ready" src={{base64}}>
            <div class="my-3">
              <button class="button_black float-right" (click)="postFormData()">Прикрепить фото</button>
            </div>
          </div>
      </div>
    </div>
</div>
