<div class="container-fluid pt-5 pl-4">
    <div class="row">
        <div class="col-12 pb-2">
            <div class="d-inline-block">
                <h1 class="title">Список заявок</h1>
            </div>
            <button class="button_gold d-inline-block float-right" (click)="getStats()" *ngIf="fourSm" style="margin-left: 20px;">Отчет
            </button>
            <div *ngIf="!fourSm">
                <button [routerLink]="['/new-request']" class="button_gold d-inline-block float-right" (click)="goToNewRequest()" *ngIf="showNewButton">+ Новая заявка
              </button>
            </div>
            <button style="margin: 0 20px 0px 0px;" class="button_gold d-inline-block float-right" (click)="getUserRole()">Обновить
            </button>
        </div>
        <div class="col-12">
            <div class="main-block">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3" *ngIf="!riskOfficer">
                        <mat-form-field>
                            <input matInput placeholder="Поиск" [(ngModel)]="requestField" (selectionChange)="search()">
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-2" *ngIf="!riskOfficer">
                        <mat-form-field>
                            <mat-select [(ngModel)]="searchType" (selectionChange)="search()" placeholder="Все продукты">
                                <mat-option value="">
                                    Все продукты
                                </mat-option>
                                <mat-option *ngFor="let item of creditType" [value]="item.id">
                                    {{item.description}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-2" *ngIf="!riskOfficer">
                        <mat-form-field>
                            <mat-select [(ngModel)]="searchStatus" (selectionChange)="search()" placeholder="Любой статус">
                                <mat-option value="">
                                    Все статусы
                                </mat-option>
                                <mat-option *ngFor="let item of statusType" [value]="item.id">
                                    {{item.description}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="!riskOfficer">
                        <button (click)="search()" class="button_gold d-inline-block float-right">Поиск
                    </button>
                    </div>
                    <!--<div class="col-lg-12">-->
                    <!--<a class="show_all" *ngIf="!showAllFilter" (click)="showAll()">Показать все</a>-->
                    <!--</div>-->
                </div>

                <table class="request-list">
                    <tr>
                        <th>№</th>
                        <th>Статус</th>
                        <th>Номер заявки</th>
                        <th>ФИО клиента</th>
                        <th>ИИН</th>
                        <th>Продукт</th>
                        <th>Филиал</th>
                        <th>ФИО менеджера</th>
                        <th>Дата</th>
                    </tr>
                    <tr (click)="goToRequest(item.id, item.readable_id, item.status)" *ngFor="let item of requests; index as i" [class.status_zero]="item.status === 0" [class.status_one]="item.status === 1" [class.status_two]="item.status === 2" [class.status_three]="item.status === 3"
                        [class.status_four]="item.status === 4" [class.status_five]="item.status === 5" [class.status_six]="item.status === 6" [class.status_seven]="item.status === 7" [class.status_eighnt]="item.status === 8" [class.status_nine]="item.status === 9"
                        [class.status_ten]="item.status === 10" [class.status_eleven]="item.status === 11" [class.status_two_hundred]="item.status === 200" [class.status_five_hundred]="item.status === 500" [class.status_five_hundred_one]="item.status === 501"
                        [class.status_five_hundred_two]="item.status === 502" [class.status_five_hundred_three]="item.status === 503" [class.status_five_hundred_four]="item.status === 504" class="cursor-pointer">

                        <td>{{i + 1}}</td>
                        <td>
                            <span class="status">{{item.status_header}}</span>
                        </td>
                        <td>{{item.readable_id}}</td>
                        <td>{{item.full_name}}</td>
                        <td>{{item.iin}}</td>
                        <td>{{item.product_type}}</td>
                        <td>{{item.branch}}</td>
                        <td>{{item.user_full_name}}</td>
                        <td>{{item.created | date: 'dd.MM.yyyy, HH:mm'}}</td>
                    </tr>
                </table>
                <div class="row" style="margin-top: 20px;">
                    <div *ngIf="backAvailable" class="col-1">
                        <button class="button_gold d-inline-block" (click)="previosPage()">Назад
                  </button>
                    </div>
                    <div class="col-1">
                        <h5> Страница: {{pageCount}}</h5>
                    </div>
                    <div *ngIf="nextAvailable" class="col-2">
                        <button class="button_gold d-inline-block float-left" (click)="nextPage()">Следующая страница
                  </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
