<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 content-block">
      <mat-tab-group dynamicHeight>
        <mat-tab label="За период">
          <div class="example-small-box">
            <div class="search">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Дата">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <input matInput [matDatepicker]="secondPicker" placeholder="Дата">
                <mat-datepicker-toggle matSuffix [for]="secondPicker"></mat-datepicker-toggle>
                <mat-datepicker #secondPicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div style="display: block">
                  <canvas mdbChart
                          [chartType]="fourChartType"
                          [datasets]="fourChartDatasets"
                          [labels]="fourChartLabels"
                          [colors]="fourChartColors"
                          [options]="fourChartOptions"
                          [legend]="true"
                          (chartHover)="fourChartHovered($event)"
                          (chartClick)="fourChartClicked($event)">
                  </canvas>
                </div>
              </div>
              <div class="col-lg-4">
                <div>
                  <button (click)="last()" mat-stroked-button>По заявкам</button>
                  <button (click)="now()" mat-stroked-button>По продуктам</button>
                </div>
                <div style="display: block">
                  <canvas mdbChart
                          [chartType]="secondChartType"
                          [datasets]="secondChartDatasets"
                          [labels]="secondChartLabels"
                          [colors]="secondChartColors"
                          [options]="secondChartOptions"
                          [legend]="true"
                          (chartHover)="secondChartHovered($event)"
                          (chartClick)="secondChartClicked($event)">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="За месяц">
          <div class="example-large-box">
            <div class="search">
              <mat-form-field>
                <input matInput [matDatepicker]="thirdPicker" placeholder="Дата">
                <mat-datepicker-toggle matSuffix [for]="thirdPicker"></mat-datepicker-toggle>
                <mat-datepicker #thirdPicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div style="display: block">
                  <canvas mdbChart
                          [chartType]="chartType"
                          [datasets]="chartDatasets"
                          [labels]="chartLabels"
                          [colors]="chartColors"
                          [options]="chartOptions"
                          [legend]="true"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)">
                  </canvas>
                </div>
              </div>
              <div class="col-lg-4">
                <div>
                  <button (click)="last()" mat-stroked-button>По заявкам</button>
                  <button (click)="now()" mat-stroked-button>По продуктам</button>
                </div>
                <div style="display: block">
                  <canvas mdbChart
                          [chartType]="secondChartType"
                          [datasets]="secondChartDatasets"
                          [labels]="secondChartLabels"
                          [colors]="secondChartColors"
                          [options]="secondChartOptions"
                          [legend]="true"
                          (chartHover)="secondChartHovered($event)"
                          (chartClick)="secondChartClicked($event)">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>