<mat-dialog-content>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <mat-form-field class="w-100">
                    <textarea matInput placeholder="Комментарий"></textarea>
                </mat-form-field>
                <button mat-raised-button class="button_gold float-right">Добавить</button>
                <div class="comments float-left">
                    <div class="comment">
                        <p>Пример комментария Пример комментария Пример комментария Пример комментария Пример комментария Пример комментария Пример комментария Пример комментарияv Пример комментарияПример комментария</p>
                        <span class="comment__name">Имя Фамилия</span>
                    </div>
                    <div class="comment">
                        <p>Пример комментария</p>
                        <span class="comment__name">Имя Фамилия</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>