/* You can add global styles to this file, and also import other style files */
.mat-drawer-content {
    height: 100vh!important;
}

mat-sidenav {
    background: #1A212C!important;
    color: white!important;
    width: 244px!important;
    box-shadow: 0 5.5px 5px rgba(0, 0, 0, 0.24), 0 9px 18px rgba(0, 0, 0, 0.18);
    font-weight: lighter;
    font-size: 14px;
}

.title {
    font-size: 18px;
}

.main-block {
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    margin-bottom: 30px;
}

.mt-4rem {
    margin-top: 4rem;
}

.content-block {
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.cursor-pointer {
    cursor: pointer;
}

.mat-step-label {
    @media(max-width: 768px) {
        display: none !important;
    }
}

.button_black {
    background-color: #1a212c;
    color: white;
}
.button_black-border {
    background-color: transparent;
    color: black;
}
.button_gold {
    background-color: #F5BA42;
    color: white;
}
.button_gold-border {
    background-color: transparent;
    color: #F5BA42;
}

.button_black-border, .button_black {
    border: 1px solid black !important;
}

.button_gold-border, .button_gold {
    border: 1px solid #F5BA42;
}

.button_gold-border, .button_gold, .button_black, .button_black-border {
    border-radius: 2px;
    font-weight: lighter;
    box-shadow: none!important;
    font-size: 14px;
    text-transform: uppercase;
    padding: 6px 20px;
}

.button_gold-border, .button_gold, .button_black, .button_black-border {
    cursor: pointer;
}

.center-vertical {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

.wideInputs .mat-form-field-infix {
    width: 290px;
}

.close {
    position: absolute;
    right: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;

    &:hover {
        opacity: 1;
    }

    &:before, &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

table {
    width: 100%;

    tr {
        border-bottom: 1px solid #C4C4C4;
    }

    th {
        font-weight: 500;
        font-size: 16px;
        color: #555555;
        opacity: 0.5;
        padding: 15px 25px;
    }

    td {
        padding: 20px 25px;
    }
}

.mat-horizontal-stepper-header-container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.mat-step-header .mat-step-icon-selected {
    background-color: #F5BA42 !important;
}

.mat-step-label {
    padding: 10px 0 0 0 !important;
    color: #c4c4c4 !important;
}

.mat-step-label-selected {
    color: black !important;
    font-weight: normal !important;
}

.red-cross {
    display: none;
    cursor: pointer;
    background: url("/assets/icon/red-cross.svg") no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 5px;
    top: 8px;
}

.caption {
    font-size: 14px;
    color: #1A212C;
}

.calcDialog .mat-dialog-container {
    padding: 0;
    background: #EFEFEF;
}

.flex-vertical-center {
    display: flex;

    align-items: center;
}

.item-list__item {
    border-bottom: 1px solid #C4C4C4;
    height: 40px;
    display: flex;
    align-items: center;
    &:hover {
        background: #F1F1F1;
    }
}

.mat-datepicker-content .mat-calendar {
  width: 100%!important;
  height: 100%!important;
}

.mat-calendar-body-semi-selected {
  background-color: #c5cae9;
}

.new_profile .mat-step-label {
  font-size: 17px;
  font-weight: bold!important;
  margin-top: -10px;
}


