<div class="menu__client-info">
    <img alt="rbk-logo" class="rbk-logo" src="./assets/img/login_page/logorbk.svg">
    <h1 class="menu__fio">{{firstName}} {{lastName}}</h1>
    <!--<h2 class="menu__email">olegkurbatov@mail.ru</h2>-->
</div>
<div class="menu__categories" *ngIf="!opRole">
<!--    <section *ngIf="userRole" [routerLink]="['/manager/home']">-->
<!--        <img src="../../../assets/icon/home.svg" alt="">-->
<!--        <span>Главная</span>-->
<!--    </section>-->
    <section [routerLink]="['/manager/request-list']">
        <img src="../../../assets/icon/request.svg" alt="">
        <span>{{ 'menu.requestList' | translate }}</span>
    </section>
    <section  *ngIf="loanRole" [routerLink]="['/manager/done-requests']">
      <img src="../../../assets/icon/request.svg" alt="">
      <span>Список выданных займов</span>
    </section>
  <section  *ngIf="rRole" [routerLink]="['/manager/risk-requests']">
    <img src="../../../assets/icon/request.svg" alt="">
    <span>Все заявки</span>
  </section>
<!--    <section *ngIf="userRole" [routerLink]="['/manager/notifications']">-->
<!--        <img src="../../../assets/icon/notify.svg" alt="">-->
<!--        <span>Оповещения</span>-->
<!--    </section>-->
    <!--<section [routerLink]="['/stats']">-->
        <!--<img src="../../../assets/icon/statistics.svg" alt="">-->
        <!--<span>Статистика</span>-->
    <!--</section>-->
</div>

<div class="menu__categories" *ngIf="opRole">
  <section [routerLink]="['/operacionist/identification']">
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>Идентификация</span>
  </section>
  <section>
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>Карточка Клиента</span>
  </section>
  <section>
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>Электронное досье</span>
  </section>
  <section>
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>Карточные операции</span>
  </section>
  <section>
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>Счета</span>
  </section>
  <section>
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>Депозиты</span>
  </section>
  <section>
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>Сейфовые ячейки</span>
  </section>
  <section>
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>Справки</span>
  </section>
  <section>
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>Переводы</span>
  </section>
  <section>
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>Конвертация</span>
  </section>
  <section>
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>Комиссии</span>
  </section>
  <section>
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>Внебалансные операции</span>
  </section>
  <section>
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>Отчеты</span>
  </section>
  <section>
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>Отчеты</span>
  </section>
  <section>
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>Операции на подтверждение</span>
  </section>
  <section>
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>F.A.Q</span>
  </section>
  <section>
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>Доверенность</span>
  </section>
  <section>
    <img src="../../../assets/icon/notify.svg" alt="">
    <span>Заявление СДБО</span>
  </section>
</div>

<div class="mt-4 mx-3" *ngIf="!opRole">
    <button class="button_gold mx-auto d-block w-100" *ngIf="!fourSm" (click)="goToNewRequest()">+ Новая заявка</button>
    <button class="button_gold-border mx-auto d-block w-100 mt-3" *ngIf="userRole" (click)="openCalc()">Калькулятор</button>
    <button class="button_gold-border mx-auto d-block w-100 mt-3 feedback" (click)="openFeedback()">Обратная связь</button>
</div>
