.menu__client-info {
    height: 176px;
    background: #F5BA42;
    padding-left: 16px
}

.menu__fio {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.87);
}

.menu__email {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.54);
}

.menu__categories {
    font-size: 14px;
    padding: 0 8px;

    section {
        display: flex;
        align-items: center;
        height: 36px;
        border-radius: 4px;
        margin: 6px 0;
        &:hover {
            background-color: #627188;
            color: #F5BA42;
        }
    }

    img {
        margin-right: 36px;
        max-width: 18px;
        max-height: 18px;
    }
}

section img {
    width: 40px;
    float: left;
    margin: 0 10px 0 10px;
}

section {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

section p {
    padding: 10px 0 0 0;
}

.mat-badge-content {
    background: #f6cf4c;
    color: #000;
    margin: 8px -8px 0px 0px;
}

.rbk-logo {
    margin: 48px 0 32px 0;
}

.feedback {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 224px!important;
}
