<div class="container bg-white">
    <div class="row">
      <h4 style="margin: 20px 0px 0px 15px;">Переназначение заявки</h4>
        <div class="col-12 pt-4">
          <mat-form-field style="width: 100%;">
            <mat-label>Выберите менеджера</mat-label>
            <mat-select [(ngModel)]="selectedUser">
              <mat-option *ngFor="let item of data.name" [value]="item.id">
                {{item.first_name}} {{item.last_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field style="width: 100%;" class="example-full-width">
            <textarea [(ngModel)]="comment" matInput placeholder="Комментарий"></textarea>
          </mat-form-field>
            <button style="margin: 0px 0px 20px 0;" mat-raised-button class="button_black" (click)="accept()">Переназначить</button>
        </div>
    </div>
</div>
